<md-content class="md-padding">

  <div layout layout-sm="column" ng-repeat="slide in vm.slider track by $index">
    <md-input-container>
      <label>1</label>
    </md-input-container>
    <md-input-container flex>
      <div class="thumbnail" style="margin-bottom:0">
        <div class="edit_btn_container btn btn-default">
          change
        </div>
        <img src="/assets/images/1.jpg">
      </div>
    </md-input-container>
    <md-input-container flex>
      <label>სტატიის სახელი</label>
      <input>
    </md-input-container>
    <md-input-container flex>
      <label>Article Name</label>
      <input>
    </md-input-container>
    <md-input-container flex>
      <label>Article Url</label>
      <input>
    </md-input-container>
    <md-input-container style="width:10%">
      <md-button ng-click="vm.openRemoveSlideModal($index)" class="md-raised md-primary">Remove</md-button>
    </md-input-container>
    <md-input-container style="width:10%">
      <md-button ng-click="vm.openUpdateSlideModal(slide)" class="md-raised md-primary">Update</md-button>
    </md-input-container>
  </div>

  <div layout layout-sm="column" style="margin-top: 10px">
    <div class="flex"></div>
    <md-button ng-click="vm.openAddSlideModal()" class="md-fab md-fab-bottom-right md-primary" style="position:relative;" aria-label="Add">
      <i class="fa fa-plus"></i>
      <md-tooltip md-direction="left">
        Add new
      </md-tooltip>
    </md-button>
  </div>
</md-content>