<md-dialog aria-label="{{vm.title}}" style="min-width:60%">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>{{vm.title}}</h2>
    </div>
  </md-toolbar>
  <md-dialog-content style="max-width:800px;max-height:810px; " class="dialog_content">
    <md-content class="md-padding">
      <div layout layout-sm="column">
        <md-input-container flex>
          <label>სტატიის სახელი</label>
          <input ng-model="vm.slide.title.geo">
        </md-input-container>
        <md-input-container flex>
          <label>article name</label>
          <input ng-model="vm.slide.title.eng">
        </md-input-container>
      </div>
      <div style="margin-top: 25px;margin-bottom: 20px;">
        <md-input-container flex>
          <md-autocomplete
            md-items="article in vm.searchArticles()"
            md-search-text="vm.searchText"
            md-selected-item="vm.selectedArticle"
            md-item-text="article.title">
            <md-item-template>
              <span md-highlight-text="vm.searchText">{{article.title}}</span>
            </md-item-template>
            <md-not-found>
              No matches found.
            </md-not-found>
          </md-autocomplete>
        </md-input-container>
      </div>
      <div ng-if="!vm.slide.image" layout layout-sm="column">
        <md-input-container>
          <md-button ng-click="vm.openGallery()" class="md-raised md-primary">Upload Photo</md-button>
        </md-input-container>
      </div>
      <div ng-if="vm.slide.image" layout layout-sm="column">
        <div class="thumbnail" style="margin-bottom:0; width:25%">
          <img ng-src="{{vm.slide.image}}">
        </div>
        <md-input-container>
          <md-button ng-click="vm.openGallery()" class="md-raised md-primary">Change Photo</md-button>
        </md-input-container>
      </div>
    </md-content>
  </md-dialog-content>
  <div class="md-actions" layout="row">
    <md-button ng-click="vm.cancel()" class="md-raised md-primary" style="margin-right:20px;" >Cancel</md-button>
    <md-button ng-click="vm.save()" class="md-raised md-primary" style="margin-right:20px;" >Save</md-button>
  </div>
</md-dialog>
