<div class="page_header_wrapp">
  <div class="page_header" layout="row">
    <span class="navigation">
      <a ui-sref="main.home" href="">
        მთავარი
      </a>
      <i class="fa fa-angle-right" style="padding-left:5px;padding-right:5px;"></i>
      <a href="">
        ინდიკატორები
      </a>
    </span>
    <span flex></span>
  </div>
</div>

<div class="single_page_content">
  <div layout="row" class="main_page_container">
    <div layout="column" flex="30">
      <div class="title_text" style="font-size:1.2em">მიმართულება</div>
      <div style="padding-top: 20px">
        <div class="direction_title title_text">
          <a href="">
            <i class="fa fa-hand-paper-o"></i>მონაწილეობა
          </a>
        </div>
        <div class="direction_title title_text">
          <a href="">
            <i class="fa fa-balance-scale"></i>სპეციალური მხარდაჭერა და დაცვა
          </a>
        </div>
        <div class="direction_title title_text">
          <a href="">
            <i class="fa fa-heartbeat"></i>ჯანმრთელობა
          </a>
        </div>
        <div class="direction_title title_text">
          <a href="">
            <i class="fa fa-child"></i>ახალგაზრდები და ოჯახი
          </a>
        </div>
        <div class="direction_title title_text">
          <a href="">
            <i class="fa fa-graduation-cap"></i>განათლება, დასაქმება და მობილობა
          </a>
        </div>
      </div>
    </div>
    <div layout="column" flex="5" ></div>
    <div layout="column" flex class="">
      <md-content>
        <md-tabs md-dynamic-height md-border-bottom>
          <md-tab label="ინდიკატორები">
            <md-content>
              <table class="table table-striped indicators_table">
                <thead>
                  <tr>
                    <td></td>
                    <td>
                      2010
                    </td>
                    <td>
                      2011
                    </td>
                    <td>
                      2012
                    </td>
                    <td>
                      2013
                    </td>
                    <td>
                      2014
                    </td>
                    <td>
                      2015
                    </td>
                    <td>
                      2016
                    </td>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="title_text">
                      <a href="" ui-sref="indicator">Lorem Ipsum საბეჭდი და ტიპოგრაფიული ინდუსტრიის უშინაარსო ტექსტია.</a>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td class="title_text">
                    <a href="" ui-sref="indicator">Lorem Ipsum საბეჭდი და ტიპოგრაფიული ინდუსტრიის უშინაარსო ტექსტია.</a>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td class="title_text">
                    <a href="" ui-sref="indicator">Lorem Ipsum საბეჭდი და ტიპოგრაფიული ინდუსტრიის უშინაარსო ტექსტია.</a>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td class="title_text">
                    <a href="" ui-sref="indicator">Lorem Ipsum საბეჭდი და ტიპოგრაფიული ინდუსტრიის უშინაარსო ტექსტია.</a>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td class="title_text">
                    <a href="" ui-sref="indicator">Lorem Ipsum საბეჭდი და ტიპოგრაფიული ინდუსტრიის უშინაარსო ტექსტია.</a>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td class="title_text">
                    <a href="" ui-sref="indicator">Lorem Ipsum საბეჭდი და ტიპოგრაფიული ინდუსტრიის უშინაარსო ტექსტია.</a>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                </tbody>
              </table>
            </md-content>
          </md-tab>
          <md-tab label="პუბლიკაციები">
            <md-content class="md-padding">

            </md-content>
          </md-tab>
        </md-tabs>
      </md-content>
    </div>
  </div>
</div>

