.single_page_content .header
  margin-bottom 30px

.main_page_container .direction_title
  margin-bottom 5px

.main_page_container .direction_title i
  margin-right 10px

.main_page_container .direction_title a
  font-size 0.9em
  color #333

.main_page_container .direction_title a:hover
  text-decoration none
  color #888
