.single_page_content .header
  margin-bottom 30px

.main_page_container .direction_title
  margin-bottom 5px

.main_page_container .direction_title i
  margin-right 10px

.main_page_container .direction_title a
  font-size 0.9em
  color #777

.main_page_container .direction_title a:hover
  text-decoration none
  color #aa1a24


.md-toolbar.md-warn > md-tabs.md-default-theme,
md-tabs > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled])
  color #b42323
  opacity 0.5
  font-weight bold
  font-family: "BPG Nino Mtavruli Book", sans-serif;

md-toolbar.md-warn > md-tabs.md-default-theme,
md-tabs > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]).md-active,
md-toolbar.md-warn > md-tabs.md-default-theme,
md-tabs > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]).md-focused
  color #b42323
  font-weight bold
  opacity 1



.indicators_table a
  font-size 0.9em
  color #333
  text-decoration none
