.images_container .thumbnail
  height 150px

.images_container .thumbnail img
  height 100%

.delete_btn_contaier
  position absolute
  background #ffffff
  right 20px
  padding 3px 6px
  border-radius 0
  border-bottom-left-radius 5px