<div class="page_header_wrapp">
  <div class="page_header" layout="row">
    <span class="navigation">
      <a ui-sref="main.home" href="">
        {{'HOME' | translate}}
      </a>
      <i class="fa fa-angle-right" style="padding-left:5px;padding-right:5px;"></i>
      <span ng-show="!vm.query.categoryId">
        <a ng-show="!vm.selectedTab" href="">
          {{'INDICATORS' | translate}}
        </a>
        <a ng-show="vm.selectedTab" href="">
          {{'PUBLICATIONS' | translate}}
        </a>
      </span>
      <span ng-show="vm.query.categoryId">
        <a ng-show="!vm.selectedTab" href="" ui-sref="main.articles({tabIndex: vm.selectedTab, publicationIndex: 0, indicatorIndex: 0, categoryId: undefined, year: undefined, searchQuery: undefined})">
          {{'INDICATORS' | translate}}
        </a>
        <a ng-show="vm.selectedTab" href="" ui-sref="main.articles({tabIndex: 1, publicationIndex: 0, indicatorIndex: 0, categoryId: undefined, year: undefined, searchQuery: undefined})">
          {{'PUBLICATIONS' | translate}}
        </a>
        <i class="fa fa-angle-right" style="padding-left:5px;padding-right:5px;"></i>
        <a href="">
          {{'T' | translate:vm.getSelectedCategory().title}}
        </a>
      </span>
    </span>
    <span flex></span>
  </div>
</div>
<div class="page_bottom_border">
  <div class="single_page_content" style="padding-bottom: 0">
    <div layout="row" class="main_page_container">
      <div layout="column" flex="30" class="filter_wrapp">
        <div class="title_text direction_t" style="font-size:1.2em">{{'DIRECTION' | translate}}</div>
        <div style="padding-top: 20px; padding-left:15px">
          <div class="direction_title title_text" ng-repeat="category in vm.categories">
            <a style="cursor: pointer" ng-click="vm.changeCategory(category)" ng-class="{'active': category._id === vm.query.categoryId}" class="category_title_text">
              <i class="fa"></i>
              {{'T' | translate:category.title}}
            </a>
          </div>
        </div>
        <div ng-show="vm.selectedTab == 1">
          <div class="title_text direction_t" style="font-size:1.2em;padding-top: 20px">{{'PUBLICATIONS_BY_YEAR' | translate}}</div>
          <div style="padding-top: 20px; padding-left: 15px">
            <div class="publication_year direction_title title_text" ng-repeat="year in vm.years">
              <a style="cursor: pointer" ng-click="vm.changeYear(year)" ng-class="{'active': '' + year === vm.query.year}">
                <i class="fa"></i>
                {{year}}
              </a>
            </div>
            <div class="publication_year direction_title title_text">
              <a style="cursor: pointer" ui-sref="main.articles({year: undefined, publicationIndex: 0, indicatorIndex: 0, tabIndex: 1})" ng-class="{'active': !vm.query.year}">
                <i class="fa"></i>
                {{'ALL_YEAR' | translate}}
              </a>
            </div>
          </div>
        </div>
      </div>
      <div layout="column" flex="5" ></div>
      <div layout="column" flex class="">
        <md-content>
          <div ng-show="vm.isSearchResult()">
            <div ng-show="vm.indicators.numTotal + vm.publications.numTotal > 0">
              <p class="search_result_sentence">
                {{'SEARCH_RESULT' | translate}}
              <span class="search_keyword">
                <i class="fa fa-angle-double-left"></i>
                {{vm.query.searchQuery}}
                <i class="fa fa-angle-double-right"></i>
              </span>{{'FOUND' | translate}}:
              </p>
            </div>
            <div ng-show="vm.indicators.numTotal + vm.publications.numTotal === 0">
              <p class="search_result_sentence">
                {{'SEARCH_RESULT' | translate}}
              <span class="search_keyword">
                <i class="fa fa-angle-double-left"></i>
                {{vm.query.searchQuery}}
                <i class="fa fa-angle-double-right"></i>
              </span>
              {{'COULDNOT_FIND' | translate}}:
              </p>
            </div>
          </div>
          <md-tabs md-dynamic-height md-selected="vm.selectedTab" class="article_tabs">
            <md-tab>
              <md-tab-label class="tab_label">
                {{'INDICATORS' | translate}}
                <span ng-show="vm.isSearchResult()"> - {{vm.indicators.numTotal}}</span>
              </md-tab-label>
              <md-tab-body>
                <md-content class="top_padding articles_content">
                  <table ng-show="vm.indicators.numTotal" class="table table-striped indicators_table">
                    <thead>
                      <tr>
                        <td>{{'RESEARCH' | translate}}</td>
                        <td ng-repeat="indicatorYear in vm.indicatorYears">{{indicatorYear}}</td>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-show="vm.engIndicatorExists(indicator)" ng-repeat="indicator in vm.indicators.items" ui-sref="main.indicator({id: indicator._id})">
                        <td class="table_article_title" style="cursor: pointer" class="title_text">{{'T' | translate:indicator.title}}</td>
                        <td ng-repeat="indicatorYear in vm.indicatorYears">{{indicator.valuesMap[indicatorYear].value}}</td>
                      </tr>
                    </tbody>
                  </table>
                  <div ng-show="vm.indicators.numTotal > 0" class="pagination_wrapp">
                    <uib-pagination
                      ng-change="vm.changeIndicatorPage()"
                      total-items="vm.indicators.numTotal"
                      ng-model="vm.indicators.currentPage"
                      max-size="vm.indicators.itemsPerPage"
                      class="pagination-sm"
                      boundary-links="true"
                      rotate="false">
                    </uib-pagination>
                  </div>
                </md-content>
              </md-tab-body>
            </md-tab>
            <md-tab >
              <md-tab-label class="publications_tab">
                {{'PUBLICATIONS' | translate}}
                <span ng-show="vm.isSearchResult()"> - {{vm.publications.numTotal}}</span>
              </md-tab-label>
              <md-tab-body>
                <md-content class="publications_list articles_content">
                  <md-list class="top_padding">
                    <div ng-show="vm.engPublicationExists(publication)" ng-repeat="publication in vm.publications.items" class="publication_item">
                      <md-list-item class="md-3-line" style="padding: 10px; padding-left: 0;">
                        <a ui-sref="main.publication({id: publication._id})" class="article_item">
                          <div class="md-list-item-text" style="padding: 8px" layout="column" >
                            <h4 class="title_text" style="font-size:1.3em; white-space:normal;">{{'T' | translate:publication.title}}</h4>
                            <p class="publication_date" >{{publication.date | date: 'yyyy-MM-dd': 'GMT+03:00'}}</p>
                            <p style="font-size:0.8em;" ng-bind-html="'T' | translate:publication.content" class="article_text_part recent_publications"></p>
                          </div>
                        </a>
                      </md-list-item>
                    </div>
                  </md-list>
                  <div ng-show="vm.publications.numTotal > 0" class="pagination_wrapp">
                    <uib-pagination
                      ng-change="vm.changePublicationPage()"
                      total-items="vm.publications.numTotal"
                      ng-model="vm.publications.currentPage"
                      max-size="vm.publications.itemsPerPage"
                      class="pagination-sm"
                      boundary-links="true"
                      rotate="false">
                    </uib-pagination>
                  </div>
                </md-content>
              </md-tab-body>
            </md-tab>
          </md-tabs>
        </md-content>
      </div>
    </div>
  </div>
</div>
