<div class="single_page_content">
  <div layout="row" class="main_page_container">
    <div layout="column" flex="30" class="filter_wrapp">
      <div class="title_text direction_t" style="font-size:1.2em">მიმართულება</div>
      <div style="padding-top: 20px">
        <div class="direction_title title_text" ng-repeat="category in vm.categories">
          <a style="cursor: pointer" ng-click="vm.changeCategory(category)"><i class="fa fa-circle-o"></i>{{category.title.geo}}</a>
        </div>
      </div>
      <div ng-show="vm.selectedTab == 1">
        <div class="title_text direction_t" style="font-size:1.2em;padding-top: 20px">პუბლიკაციები წლების მიხედვით</div>
        <div style="padding-top: 20px; padding-left: 25px">
          <div class="publication_year direction_title title_text" ng-repeat="year in vm.years">
            <a style="cursor: pointer" ng-click="vm.changeYear(year)">{{year}}</a>
          </div>
        </div>
      </div>
    </div>
    <div layout="column" flex="5" ></div>
    <div layout="column" flex class="">
      <md-content>
        <md-tabs md-dynamic-height md-border-bottom md-selected="vm.selectedTab">
          <md-tab label="ინდიკატორები">
            <md-content>
              <table class="table table-striped indicators_table">
                <thead>
                <tr>
                  <td></td>
                  <td>
                    2010
                  </td>
                  <td>
                    2011
                  </td>
                </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="title_text">
                      <a href="" ui-sref="indicator">Lorem Ipsum საბეჭდი და ტიპოგრაფიული ინდუსტრიის უშინაარსო ტექსტია.</a>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                </tbody>
              </table>
              <div ng-show="vm.indicators.numTotal > 0">
                <uib-pagination
                  ng-change="vm.changeIndicatorPage()"
                  total-items="vm.indicators.numTotal"
                  ng-model="vm.indicators.currentPage"
                  max-size="vm.indicators.itemsPerPage"
                  class="pagination-sm"
                  boundary-links="true"
                  rotate="false">
                </uib-pagination>
              </div>
            </md-content>
          </md-tab>
          <md-tab label="პუბლიკაციები">
            <md-content class=" publications_list">
              <md-list>
                <div ng-repeat="publication in vm.publications.items">
                  <md-list-item class="md-3-line" style="padding: 10px;">
                    <a ui-sref="main.publication({id: publication._id})" class="article_item">
                      <div class="md-list-item-text" layout="column" >
                        <h3 class="title_text" style="font-size:1.3em;">{{publication.title.geo}}</h3>
                        <p style="font-size:0.8em;">{{publication.date | date: 'yyyy-MM-dd': 'GMT+03:00'}}</p>
                        <p style="font-size:0.8em;" ng-bind-html="publication.content.geo" class="article_text_part"><p>
                      </div>
                    </a>
                  </md-list-item>
                  <md-divider ></md-divider>
                </div>
              </md-list>
              <div ng-show="vm.publications.numTotal > 0" class="pagination_wrapp">
                <uib-pagination
                  ng-change="vm.changePublicationPage()"
                  total-items="vm.publications.numTotal"
                  ng-model="vm.publications.currentPage"
                  max-size="vm.publications.itemsPerPage"
                  class="pagination-sm"
                  boundary-links="true"
                  rotate="false">
                </uib-pagination>
              </div>
            </md-content>
          </md-tab>
        </md-tabs>
      </md-content>
    </div>
  </div>
</div>

