.single_page_content .header
  margin-bottom 30px

.main_page_container .direction_title
  margin-bottom 5px

.main_page_container .direction_title i
  margin-right 10px
  width 10px
  height 10px
  border 1px solid #777


.main_page_container .direction_title a
  font-size 0.9em
  color #777

.main_page_container .direction_title a:hover
  text-decoration none
  color #aa1a24

.main_page_container .direction_title a:hover .fa
  background-color #aa1a24
  border-color #aa1a24

.main_page_container .direction_title a.active
  color #aa1a24

.main_page_container .direction_title a.active .fa
  background-color #aa1a24
  border-color #aa1a24

.md-toolbar.md-warn > md-tabs.md-default-theme,
md-tabs > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled])
  color #b42323
  font-family: "BPG Nino Mtavruli", sans-serif;

md-toolbar.md-warn > md-tabs.md-default-theme,
md-tabs > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]).md-active,
md-toolbar.md-warn > md-tabs.md-default-theme,
md-tabs > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]).md-focused
  color #b42323
  font-weight bold
  opacity 1


.indicators_table
  border-collapse collapse
  border-top 1px solid #ddd
  border-bottom 1px solid #ddd

.indicators_table tr
  border none
  cursor pointer

.indicators_table tr:hover td:first-child
  color #aa1a24

.indicators_table td
  border-right solid 1px #ddd
  border-left solid 1px #ddd
  border-top 0 !important

.indicators_table td
  text-align center
  vertical-align middle !important

.table_article_title
  text-align left !important

.article_text_part
  height 47px
  overflow hidden

.article_text_part img
  display none

.article_item:hover,
.article_item:focus
  text-decoration none

.publication_item:nth-child(even)
  background #f5f5f5

.publication_item .publication_date
  font-size 0.8em !important

.article_item:hover .title_text
  color #aa1a24

.pagination_wrapp
  text-align right

.pagination_wrapp a
  color: #777 !important

.pagination_wrapp .pagination>.active>a
  color #ffffff !important
  background-color: #b42323;
  border-color: #b42323;
  font-weight bold

.pagination>li>a:hover
  color #b42323 !important
  background-color #fff

.filter_wrapp .direction_t
  font-weight normal

.badge
  position fixed
  top 0
  padding 5px 6px

.search_keyword
  color #aa1a24

.search_result_sentence
  font-size 12px
  padding-left 7px

.top_padding
  padding-top 15px

.article_tabs md-ink-bar
  color blue
  background-color blue
  height 1px
  display none

.article_tabs .tab_label
  border 1px solid #b0b0b0
  border-radius 2px

.article_tabs md-tab-item .md-ripple-container
  display none

.article_tabs md-tab-item
  border 1px solid #b0b0b0
  line-height 22px
  border-radius 1px

.article_tabs md-tab-item,
.articles_content
  margin-left 5px

.article_tabs md-tab-item.md-active
  color #ffffff !important
  background #aa1a24 !important
  border 1px solid #aa1a24 !important

.article_tabs md-tab-item.md-active:hover
  color #ffffff !important
