.single_page_content .header
  margin-bottom 30px

.main_page_container .direction_title
  margin-bottom 5px

.main_page_container .direction_title i
  margin-right 10px

.main_page_container .direction_title a
  font-size 0.9em
  color #777

.main_page_container .direction_title a:hover
  text-decoration none
  color #aa1a24

.main_page_container .direction_title a.active
  color #aa1a24

.md-toolbar.md-warn > md-tabs.md-default-theme,
md-tabs > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled])
  color #b42323
  font-family: "BPG Nino Mtavruli", sans-serif;

md-toolbar.md-warn > md-tabs.md-default-theme,
md-tabs > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]).md-active,
md-toolbar.md-warn > md-tabs.md-default-theme,
md-tabs > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]).md-focused
  color #b42323
  font-weight bold
  opacity 1


.indicators_table a
  font-size 0.9em
  color #333
  text-decoration none

.indicators_table td
  text-align center
  vertical-align middle !important

.table_article_title
  text-align left !important

.article_text_part
  height 47px
  overflow hidden

.article_item:hover,
.article_item:focus
  text-decoration none

.pagination_wrapp
  text-align center

.pagination_wrapp a
  color: #777 !important

.pagination_wrapp .pagination>.active>a
  color #b42323 !important
  background-color: #f5f8f9;
  border-color: #ddd;
  font-weight bold

.filter_wrapp .direction_t
  font-weight normal
