.md-tabs .md-tab.md-active
  color rgb(16,108,200) !important

.md-tabs .md-tab
  color rgba(0,0,0,0.54) !important

.md-calendar-date.md-calendar-date-today .md-calendar-date-selection-indicator {
  border: 1px solid rgb(16,108,200);
}

.md-datepicker-calendar-pane
  background-color rgba(255,255,255,1) !important

.md-calendar-day-header {
  background: rgb(224,224,224);
  color: rgba(0,0,0,0.87);
}

.md-datepicker-input-mask
  background-color transparent

.dialog_content md-input-container
  padding-bottom 0

.text_editor_wrapp
  margin-top 30px
