<div class="single_page_container">
  <div class="single_page_title">
    <div layout="row">
      <span flex></span>
      <span class="title_text page_title">
        {{'DEMOGRAPHICS' | translate}}
        <hr>
      </span>
      <span flex></span>
    </div>
  </div>
  <div class="single_page_content sitemap_content">
    <div class="demographics_map_container">
      <fusion-map bg-color="'#ffffff'" height="400" width="800" demographics="vm.demographics" ></fusion-map>
    </div>
    <md-content>
      <table class="table table-striped indicators_table demograpy_table">
        <thead>
          <tr>
            <th></th>
            <th ng-repeat="year in vm.years">{{year}}</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="demography in vm.demographics">
            <td class="title_text">{{'T' | translate:demography.region}}</td>
            <td ng-repeat="year in vm.years">{{demography.values[year].value}}</td>
          </tr>
        </tbody>
      </table>
    </md-content>
  </div>
</div>
