.demographics_map_container
  text-align center


.demographics_map_container .abkhazia
  fill #8a8a8a !important

.demographics_map_container .samegrelo
  fill #5a5a5a !important

.demographics_map_container .svaneti
  fill #999 !important

.demographics_map_container .imereti
  fill #444 !important

.demographics_map_container .guria
  fill #555 !important

.demographics_map_container .adjara
  fill #666 !important

.demographics_map_container .samtske
  fill #777 !important

.demographics_map_container .shida_qartli
  fill #888 !important

.demographics_map_container .qvemo_qartli
  fill #999 !important

.demographics_map_container .mtsketa_mtianeti
  fill #4a4a4a !important

.demographics_map_container .kakheti
  fill #5a5a5a !important

.demographics_map_container .tbilisi
  fill #a6a6a6 !important



#selectedDemography
  padding 5px
  width: 100px;
  position: absolute;
  z-index: 100;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 5px;

#selectedDemography .region_title
  font-weight normal
  color #b42323

#selectedDemography .year_value
  float left

#selectedDemography .region_value
  float right
