<div class="single_page_container">
  <div class="single_page_title">
    <div layout="row">
      <span flex></span>
      <span class="title_text page_title">
        დემოგრაფია
        <hr>
      </span>
      <span flex></span>
    </div>
  </div>
  <div class="single_page_content sitemap_content">
    <div class="demographics_map_container">
<!--       <div id="selectedDemography">
        <p class="region_title title_text">{{vm.selectedDemography.lastValue.region.geo}}</p>
        <div layout="row">
          <p class="year_value">{{vm.selectedDemography.lastValue.year}}</p>
          <span flex class="text-align:center">
            <span> - </span>
          </span>
          <p class="region_value">{{vm.selectedDemography.lastValue.value}}</p>
        </div>
      </div> -->
      <fc-chart
        width="800"
        height="400"
        fc-chart-type="maps/asiageorgia"
        fc-data="vm.data">
      </fc-chart>
    </div>
    <md-content>
      <table class="table table-striped indicators_table demograpy_table">
        <thead>
          <tr>
            <th></th>
            <th ng-repeat="year in vm.years">{{year}}</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="demography in vm.demographics">
            <td class="title_text">{{demography.region.geo}}</td>
            <td ng-repeat="year in vm.years">{{demography.values[year].value}}</td>
          </tr>
        </tbody>
      </table>
    </md-content>
  </div>
</div>
