<div layout layout-sm="column">
  <div flex></div>
  <div>
    <h3 class="title_text">პარტნიორები</h3>
  </div>
  <div flex></div>
</div>

<md-button ng-click="vm.openAddPartnerModal($event)" class="md-fab md-fab-bottom-right md-primary" style="position:fixed;" aria-label="Add">
  <i class="fa fa-plus"></i>
  <md-tooltip md-direction="left">
    Add new
  </md-tooltip>
</md-button>

<md-content class="md-padding">
  <div layout="row" layout-sm="column" ng-repeat="partner in vm.partners track by $index">
    <div flex layout="row">
      <md-input-container>
        <label>{{$index + 1}}</label>
      </md-input-container>
      <md-input-container flex>
        <div class="thumbnail" style="margin-bottom:0">
          <img ng-src="{{partner.image}}">
        </div>
      </md-input-container>
    </div>
    <div layout="column" flex>
      <md-input-container flex>
        <label>სტატიის სახელი</label>
        <input type="text" ng-model="partner.name.geo" readonly>
      </md-input-container>
      <md-input-container flex>
        <label>Article Name</label>
        <input type="text" ng-model="partner.name.eng" readonly>
      </md-input-container>
      <md-input-container flex>
        <label>Article Url</label>
        <input type="text" ng-model="partner.link" readonly>
      </md-input-container>
    </div>
    <span layout="column" flex="10">
      <span flex>
        <md-button class="md-fab md-mini md-primary" ng-click="vm.openUpdatePartnerModal($event, partner)" aria-label="Edit">
          <i class="fa fa-pencil-square-o"></i>
        </md-button>
        <md-button class="md-fab md-mini md-primary" ng-click="vm.openRemovePartnerModal($event, partner, $index)" aria-label="Remove">
          <i class="fa fa-trash-o"></i>
        </md-button>
      </span>
    </span>
  </div>
</md-content>
