<div layout layout-sm="column">
  <div flex></div>
  <div>
    <h3 class="title_text">ინდიკატორები</h3>
  </div>
  <div flex></div>
</div>

<md-button ng-click="vm.openAddIndicatorModal($event)" class="md-fab md-fab-bottom-right md-primary" style="position:fixed;" aria-label="Add">
  <i class="fa fa-plus"></i>
  <md-tooltip md-direction="left">
    Add new
  </md-tooltip>
</md-button>

<md-content class="md-padding">
  <md-list ng-cloak>
    <md-list-item class="md-3-line indicators_list_item" ng-repeat="indicator in vm.indicators track by $index">

      <div class="md-list-item-text">
        <div layout="row">
          <span layout="column" flex>
            <h3 class="title_text text_bold">{{indicator.title.geo}}</h3>
            <span>
              <p ng-bind-html="indicator.content.geo"></p>
            </span>
          </span>
          <span layout="column" flex="10">
            <span flex>
              <md-button class="md-fab md-mini md-primary" ng-click="vm.openUpdateIndicatorModal($event, indicator)" aria-label="Edit">
                <i class="fa fa-pencil-square-o"></i>
              </md-button>
              <md-button class="md-fab md-mini md-primary" ng-click="vm.openRemoveIndicatorModal($event, indicator, $index)" aria-label="Edit">
                <i class="fa fa-trash-o"></i>
              </md-button>
            </span>
          </span>
        </div>
        <hr>
      </div>
    </md-list-item>
  </md-list>

  <div layout="row">
    <div flex></div>
    <div>
      <uib-pagination
        ng-change="vm.loadPage()"
        total-items="vm.numTotal"
        ng-model="vm.pageIndex"
        max-size="vm.maxSize"
        class="pagination-sm"
        boundary-links="true"
        rotate="false">
      </uib-pagination>
    </div>
    <div flex></div>
  </div>
</md-content>
