<h1>indicators</h1>
<md-button ui-sref="admin.indicators.add" class="md-fab md-fab-bottom-right md-primary" style="position:fixed;" aria-label="Add">
  <i class="fa fa-plus"></i>
  <md-tooltip md-direction="left">
    Add new
  </md-tooltip>
</md-button>
<md-content class="md-padding">
  <md-list ng-cloak>
    <md-list-item ng-click="navigateTo" class="md-2-line">
      <div class="md-list-item-text">
        <h3>title</h3>
        <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. </p>
      </div>
      <md-divider ng-if="!$last"></md-divider>
    </md-list-item>
    <md-list-item ng-click="navigateTo" class="md-2-line">
      <div class="md-list-item-text">
        <h3>title</h3>
        <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. </p>
      </div>
      <md-divider ng-if="!$last"></md-divider>
    </md-list-item>
    <md-list-item ng-click="navigateTo" class="md-2-line">
      <div class="md-list-item-text">
        <h3>title</h3>
        <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. </p>
      </div>
      <md-divider ng-if="!$last"></md-divider>
    </md-list-item>
    <md-list-item ng-click="navigateTo" class="md-2-line">
      <div class="md-list-item-text">
        <h3>title</h3>
        <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. </p>
      </div>
      <md-divider ng-if="!$last"></md-divider>
    </md-list-item>
  </md-list>
</md-content>
