<nav class="navbar navbar-default main_page_navbar">
  <div class="navbar_pad_color"></div>
  <div class="container-fluid"></div>
    <div layout="row">
      <div class="navbar-header" flex="20">
        <a class="navbar-brand" href="#">Brand</a>
      </div>
      <div flex="30"></div>
      <div class="navbar_button_wrapp text-center" flex="35">
        <div>
          <span>
            <a href="#">ENG</a>
          </span>
          <span>
            <a href="#">GEO</a>
          </span>
          <span class="line_separator"></span>
          <span>
            <a href="#">
              <i class="fa fa-envelope-o"></i>
            </a>
          </span>
          <span>
            <a href="#">
              <i class="fa fa-sitemap"></i>
            </a>
          </span>
          <span class="line_separator"></span>
          <span style="margin-left:10px;">
            <input type="text" class="search_container" placeholder="Search">
          </span>
        </div>
      </div>
      <div flex></div>
    </div>
    <div layout="row">
      <div flex="50"></div>
      <div class="navbar_button_wrapp text-center" flex="35">  </div>
      <div flex></div>
    </div>
  </div>
  <!-- <div class="navbar_bottom_placeholder"></div> -->
</nav>




<ui-view></ui-view>
