@import url("//cdn.web-fonts.ge/fonts/bpg-nino-mtavruli-book/css/bpg-nino-mtavruli-book.min.css");


.main_page_navbar
  border-radius 0
  height 100px
  background-color #ffffff
  border none
  border-bottom 2px solid rgba(180,35,35,1)
  margin-bottom 0

.navbar_bottom_placeholder
  width 95%
  margin 0 auto
  height 2px
  background-color rgba(180,35,35,1)

.search_container
  border-radius 0
  height 34px
  padding 6px 12px
  font-size 14px
  line-height 1.42857143
  color #555
  background-color #fff
  border 1px solid #ccc

.navbar_pad_color
 background-color #e7e7e7
 height 5px

.navbar_button_wrapp
  background-color #e7e7e7
  & .btn_link
    margin-top 10px
  & a
    color #777
    padding 10px
    text-decoration none
    text-align center
    margin-top 5px
  & a:hover
    color #333
    text-decoration none

.line_separator
  border-left 1px dotted #777

.navbar_buttons_wrapp
  background-color #e7e7e7

.sub_navbar .nav_buttons span
  padding-top 15px

.sub_navbar a
  color #777
  text-decoration none

.page_container
  min-height 50%

.title_text
  font-family: "BPG Nino Mtavruli Book", sans-serif;
  font-weight bold
