<div class="page_header_wrapp">
  <div class="page_header" layout="row">
    <span class="navigation">
      <a ui-sref="main.home" href="">
        {{'HOME' | translate}}
      </a>
      <i class="fa fa-angle-right" style="padding-left:5px;padding-right:5px;"></i>
      <a href="">
        {{'SITEMAP' | translate}}
      </a>
    </span>
    <span flex></span>
  </div>
</div>

<div class="single_page_container">
  <div class="single_page_title">
    <div layout="row">
      <span flex></span>
      <span class="title_text page_title">
        {{'SITEMAP' | translate}}
        <hr>
      </span>
      <span flex></span>
    </div>
  </div>
  <div class="single_page_content sitemap_content md-padding">
    <div class="" layout="row">
      <span class="navigation title_text">
        <i class="fa fa-minus-square-o"></i>
        <a ui-sref="main.home" href="">
          {{'HOME' | translate}}
        </a>
      </span>
      <span flex></span>
    </div>
    <hr>
    <div class="" layout="row">
      <span class="navigation title_text">
        <i class="fa fa-minus-square-o"></i>
        <a ui-sref="main.about" href="">
          {{'ABOUT' | translate}}
        </a>
      </span>
      <span flex></span>
    </div>
    <hr>
    <div class="" layout="row">
      <span class="navigation title_text">
        <i ng-click="vm.toggleIndicators()" slide-toggle="#indicators"  class="fa plus_sign" ng-class="{'fa-plus-square-o': !vm.indicatorsSlided, 'fa-minus-square-o': vm.indicatorsSlided}"></i>
        <a ui-sref="main.articles({tabIndex: 0, publicationIndex: 0, indicatorIndex: 0, categoryId: undefined, year: undefined, searchQuery: undefined})" href="">
          {{'INDICATORS' | translate}}
        </a>
      </span>
      <span flex></span>
    </div>
    <div class="sub_category_list" layout="row">
      <div id="indicators" class="slideable" layout="column">
        <div layout="row" ng-repeat="category in vm.categories">
          <span class="navigation title_text">
            <a ui-sref="main.articles({tabIndex: 0, publicationIndex: 0, indicatorIndex: 0, categoryId: category._id, year: undefined, searchQuery: undefined})" href=""><i class="fa fa-angle-right"></i>{{'T' | translate:category.title}}</a>
          </span>
          <span flex></span>
        </div>
      </div>
    </div>
    <hr>
    <div class="" layout="row">
      <span class="navigation title_text">
        <i ng-click="vm.togglePublications()" slide-toggle="#publications"  class="fa plus_sign" ng-class="{'fa-plus-square-o': !vm.publicationsSlided, 'fa-minus-square-o': vm.publicationsSlided}"></i>
        <a ui-sref="main.articles({tabIndex: 1, publicationIndex: 0, indicatorIndex: 0, categoryId: undefined, year: undefined, searchQuery: undefined})" href="">
          {{'PUBLICATIONS' | translate}}
        </a>
      </span>
      <span flex></span>
    </div>
    <div class="sub_category_list" layout="row">
      <div id="publications" class="slideable" layout="column">
        <div layout="row" ng-repeat="category in vm.categories">
          <span class="navigation title_text">
            <a ui-sref="main.articles({tabIndex: 1, publicationIndex: 0, indicatorIndex: 0, categoryId: category._id, year: undefined, searchQuery: undefined})" href=""><i class="fa fa-angle-right"></i>{{'T' | translate:category.title}}</a>
          </span>
          <span flex></span>
        </div>
      </div>
    </div>
    <hr>
    <div class="" layout="row">
      <span class="navigation title_text">
        <i class="fa fa-minus-square-o"></i>
        <a ui-sref="main.contact" href="">
          {{'CONTACT' | translate}}
        </a>
      </span>
      <span flex></span>
    </div>
    <hr>
    <div class="" layout="row">
      <span class="navigation title_text">
        <i class="fa fa-minus-square-o"></i>
        <a ui-sref="main.sitemap" href="">
          {{'SITEMAP' | translate}}
        </a>
      </span>
      <span flex></span>
    </div>
  </div>
</div>

