<div class="page_header_wrapp">
  <div class="page_header" layout="row">
    <span class="navigation">
      <a ui-sref="main.home" href="">
        მთავარი
      </a>
      <i class="fa fa-angle-right" style="padding-left:5px;padding-right:5px;"></i>
      <a href="">
        საიტის რუკა
      </a>
    </span>
    <span flex></span>
  </div>
</div>

<div class="single_page_container">
  <div class="single_page_title">
    <div layout="row">
      <span flex></span>
      <span class="title_text page_title">
        საიტის რუკა
        <hr>
      </span>
      <span flex></span>
    </div>
  </div>
  <div class="single_page_content sitemap_content md-padding">
    <div class="" layout="row">
      <span class="navigation title_text">
        <i class="fa fa-minus-square-o"></i>
        <a ui-sref="main.home" href="">
          მთავარი
        </a>
      </span>
      <span flex></span>
    </div>
    <hr>
    <div class="" layout="row">
      <span class="navigation title_text">
        <i class="fa fa-minus-square-o"></i>
        <a ui-sref="main.about" href="">
          ჩვენ შესახებ
        </a>
      </span>
      <span flex></span>
    </div>
    <hr>
    <div class="" layout="row">
      <span class="navigation title_text">
        <i ng-click="vm.toggleIndicators()" slide-toggle="#indicators"  class="fa" ng-class="{'fa-plus-square-o': !vm.indicatorsSlided, 'fa-minus-square-o': vm.indicatorsSlided}"></i>
        <a ui-sref="indicators" href="">
          ინდიკატორები
        </a>
      </span>
      <span flex></span>
    </div>
    <div class="sub_category_list" layout="row">
      <div id="indicators" class="slideable" layout="column">
        <div layout="row">
          <span class="navigation title_text">
            <a ui-sref="indicators" href=""><i class="fa fa-angle-right"></i>მონაწილეობა</a>
          </span>
          <span flex></span>
        </div>
        <div layout="row">
          <span class="navigation title_text">
            <a ui-sref="indicators" href=""><i class="fa fa-angle-right"></i>სპეციალური მხარდაჭერა და დაცვა</a>
          </span>
          <span flex></span>
        </div>
        <div layout="row">
          <span class="navigation title_text">
            <a ui-sref="indicators" href=""><i class="fa fa-angle-right"></i>ჯანმრთელობა</a>
          </span>
          <span flex></span>
        </div>
        <div layout="row">
          <span class="navigation title_text">
            <a ui-sref="indicators" href=""><i class="fa fa-angle-right"></i>ახალგაზრდები და ოჯახი</a>
          </span>
          <span flex></span>
        </div>
        <div layout="row">
          <span class="navigation title_text">
            <a ui-sref="indicators" href=""><i class="fa fa-angle-right"></i>განათლება, დასაქმება და მობილობა</a>
          </span>
          <span flex></span>
        </div>
      </div>
    </div>
    <hr>
    <div class="" layout="row">
      <span class="navigation title_text">
        <i ng-click="vm.togglePublications()" slide-toggle="#publications"  class="fa" ng-class="{'fa-plus-square-o': !vm.publicationsSlided, 'fa-minus-square-o': vm.publicationsSlided}"></i>
        <a ui-sref="publications" href="">
          პუბლიკაციები
        </a>
      </span>
      <span flex></span>
    </div>
    <div class="sub_category_list" layout="row">
      <div id="publications" class="slideable" layout="column">
        <div layout="row">
          <span class="navigation title_text">
            <a ui-sref="indicators" href=""><i class="fa fa-angle-right"></i>მონაწილეობა</a>
          </span>
          <span flex></span>
        </div>
        <div layout="row">
          <span class="navigation title_text">
            <a ui-sref="indicators" href=""><i class="fa fa-angle-right"></i>სპეციალური მხარდაჭერა და დაცვა</a>
          </span>
          <span flex></span>
        </div>
        <div layout="row">
          <span class="navigation title_text">
            <a ui-sref="indicators" href=""><i class="fa fa-angle-right"></i>ჯანმრთელობა</a>
          </span>
          <span flex></span>
        </div>
        <div layout="row">
          <span class="navigation title_text">
            <a ui-sref="indicators" href=""><i class="fa fa-angle-right"></i>ახალგაზრდები და ოჯახი</a>
          </span>
          <span flex></span>
        </div>
        <div layout="row">
          <span class="navigation title_text">
            <a ui-sref="indicators" href=""><i class="fa fa-angle-right"></i>განათლება, დასაქმება და მობილობა</a>
          </span>
          <span flex></span>
        </div>
      </div>
    </div>
    <hr>
    <div class="" layout="row">
      <span class="navigation title_text">
        <i class="fa fa-minus-square-o"></i>
        <a ui-sref="contact" href="">
          კონტაქტი
        </a>
      </span>
      <span flex></span>
    </div>
    <hr>
    <div class="" layout="row">
      <span class="navigation title_text">
        <i class="fa fa-minus-square-o"></i>
        <a ui-sref="main.sitemap" href="">
          საიტის რუკა
        </a>
      </span>
      <span flex></span>
    </div>
  </div>
</div>

