.sitemap_content .navigation.title_text a
  font-size 1.1em
  font-weight bold
  padding-left 20px
  color #777

.sitemap_content hr
  margin-top 10px
  margin-bottom 10px

.sub_category_list
  padding-left 40px

.sub_category_list i.fa
  padding-right 20px

.sub_category_list .navigation.title_text a
  font-size 0.9em

.page_header_wrapp
  background: #f5f8f9;
  border-bottom: 1px solid #ecf0f1;

.page_header
  width 1024px
  margin 0 auto
  padding-top 10px
  padding-bottom 10px

.page_header a
  color: #616668;
  text-decoration: none;
  font-family: 'Ingiri';
  font-size 12px

.page_header a:hover
  color #aa1a24
