.sitemap_content .navigation.title_text a
  font-size 1.1em
  font-weight bold
  padding-left 20px
  color #777

.sitemap_content hr
  margin-top 10px
  margin-bottom 10px

.sub_category_list
  padding-left 40px

.sub_category_list i.fa
  padding-right 20px

.sub_category_list .navigation.title_text a
  font-size 0.9em
