.sitemap_content .navigation.title_text a
  font-size 1.1em
  font-weight bold
  padding-left 20px
  color #777

.sitemap_content hr
  margin-top 10px
  margin-bottom 10px

.sub_category_list
  padding-left 40px

.sub_category_list i.fa
  padding-right 20px

.sub_category_list .navigation.title_text a
  font-size 0.9em

.single_page_title
  padding-top: 30px;
  width: 1000px;
  margin: 0 auto;

.single_page_title .page_title
  color: #b42323;
  font-size: 1.4em;
  font-weight normal

.single_page_title hr
  margin-top: 5px;
  margin-bottom: 5px;
  border: 0;
  border-top: 1px solid #b42323;


.sitemap_content .navigation.title_text a:hover
  color #aa1a24

.plus_sign:focus
  outline none
