.lang
  float: left;
  padding: 7px 12px 0 0;
  font-size: 11px;
  line-height: 14px;

.lang a
  color: #94989c;
  text-decoration: none;

.lang a.active
  color: #aa1a24;

.lang a:hover
  color: black;
