@import url("//cdn.web-fonts.ge/fonts/bpg-ingiri-arial/css/bpg-ingiri-arial.min.css");


.navbar_wrapper
  border-top: 9px solid #ecf0f1;
  border-bottom: 3px solid #aa1a24;
  font-size: 13px;
  background: white;
  min-height: 102px;

.navbar_inner
  width: 1024px;
  margin: 0 auto;

.nav_logo
  float: left;
  margin: -9px 0 0 0;
  padding: 15px 0 0 0;
  width: 315px;
  height: 75px;

.nav_logo span
  float: left;
  width: 230px;
  padding: 20px 0 0 0;
  line-height: 20px;
  font-size: 16px;
  font-weight: normal;

.nav_logo span a
  color rgba(0, 0, 0, 0.87);
  text-decoration none

.navbar_buttons
  float: right;

.navbar_buttons .head
  width: 628px;
  height: 39px;
  padding: 2px 20px 0 18px;
  background: #ecf0f1;

.navbar_navigation
  padding-top: 6px;
  font-size: 13px;
  color: #616668;
  line-height: 42px;

.navbar_navigation ul
  height: 45px;
  background: url(/assets/images/delimiter.png) no-repeat left top;
  position: relative;
  -webkit-padding-start: 0px;
  display: block;
  list-style-type: disc;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  border-radius: 0 2px 2px 2px;
  -moz-border-radius: 0 2px 2px 2px;
  -webkit-border-radius: 0 2px 2px 2px;
  -ms-border-radius: 0 2px 2px 2px;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;

.navbar_navigation ul li
  height: 45px;
  width: 157px;
  z-index: 1000;
  display: inline-block;
  float: left;
  background: url(/assets/images/delimiter.png) no-repeat right top;
  padding: 0 19px 0 19px;
  text-align center

.navbar_navigation ul li a
  display: block;
  line-height: 50px;
  font-size: 15px;
  color: #616668;
  text-decoration: none;


.lang
  float: left;
  padding: 7px 12px 0 0;
  font-size: 11px;
  line-height: 14px;

.lang a
  color: #94989c;
  text-decoration: none;

.lang a.active
  color: #aa1a24;

.lang a:hover
  color: black;

.icon_wrapp
  float: left;
  padding: 2px 0 0 11px;
  margin: 5px 13px 0 0;
  border-left: 1px dotted #b1b4b5;
  border-right: 1px dotted #b1b4b5;

.icon_wrapp a
  display: block;
  float: left;
  margin: 0 11px 0 0;
  color: #94989c;

.icon_wrapp a:hover
  color: black;

.search
  float: right;
  width: 240px;
  height: 26px;
  background: white;
  border: 1px solid #dbe1e3;
  padding: 0 0 0 8px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -webkit-border-radius: 3px;
  box-shadow: inset 3px 3px 3px rgba(0,0,0,0.03);

.search_input
  float: left;

.search_input input
  width: 203px;
  height: 26px;
  border: 0;
  margin: 0;
  padding: 0;
  font-family: "BPG Ingiri Arial", sans-serif;
  font-size: 12px;
  background: none;
  outline: 0;

.small_text
  font-family: "BPG Ingiri Arial", sans-serif;

.search_icon
  color #aa1a24
  font-size 19px
  margin-top 2px
  padding-left 5px
  border-left 1px dotted #777

.search_wrapper
  position: relative

  .search_wrapper_autocomplete
    width: 250px
    position: absolute
    top: 28px
    right: 0
    border: 1px solid #DDD
    background-color #FFF
    box-shadow 0 0 10px #888
    border-radius 3px
    z-index 100

    .autocomplete_section

      .autocomplete_section_header
        padding: 6px
        text-align: left
        font-size 16px

      .autocomplete_section_body
        padding: 10px 0
        text-align: left
        padding-top: 0

        .autocomplete_item
          padding: 10px 30px
          font-size: 12px
          padding-bottom: 5px


.page_header_wrapp
  background: #f5f8f9;
  border-bottom: 1px solid #ecf0f1;

.page_header
  width 1024px
  margin 0 auto
  padding-top 10px
  padding-bottom 10px

.page_header a
  color: #616668;
  text-decoration: none;
  font-family: "BPG Ingiri Arial", sans-serif;
  font-size 12px

.page_header a:hover
  color #aa1a24

.search_title
  padding: 0 6px;
  margin-top: 9px;
  line-height: 36px;
  font-weight normal

.search_title span
  color #aa1a24
  font-weight bold
  margin-left 5px

.autocomplete_section_header
  background: #f5f8f9;
  border-bottom: 1px solid #ecf0f1;

.autocomplete_section_header .button
  color #aa1a24

.autocomplete_section_body .autucomplete_item:hover
  background: #ECF0F3;

.autucomplete_item
  height: 25px;
  overflow: hidden;

.autucomplete_item span
  margin: 10px 30px
  cursor pointer
  color #777
