<div class="navbar_wrapper">
  <div class="navbar_inner">
    <div class="nav_logo">
      <div class="logo title_text">
        <span>
          <a href="" ui-sref="main.home">
            {{'YOUTH_POLICY_MONITOR' | translate}}
          </a>
        </span>
      </div>
    </div>
    <div class="navbar_buttons">
      <div class="head">
        <lang-translate></lang-translate>
        <div class="icon_wrapp">
          <a ui-sref="main.contact" href="">
            <i class="fa fa-envelope-o"></i>
          </a>
          <a ui-sref="main.sitemap" href="">
            <i class="fa fa-sitemap"></i>
          </a>
        </div>
        <div class="search">
          <div class="search_wrapper">
            <div class="search_wrapper_autocomplete animated fadeIn hidden">
              <div class="autocomplete_section">
                <div ng-show="vm.articles.numTotal" class="autocomplete_section_body">
                  <div class="autucomplete_item" ng-repeat="article in vm.articles.items" style="padding: 5px;">
                    <span ng-click="vm.loadArticle(article)" ng-bind-html="'T' | translate:article.title"></span>
                  </div>
                </div>
                <div class="autocomplete_section_btn text-center" layout="row">
                  <div ng-show="vm.articles.numTotal" style="display: inline-block" class="title_text search_title" ng-click="vm.loadArticles(0)">
                    {{'ALL_RESULTS' | translate}} ({{vm.articles.numTotal}})
                  </div>
                  <div ng-show="!vm.articles.numTotal" style="display: inline-block" class="title_text search_title" ng-click="vm.loadArticles(0)">
                    {{'NO_RESULT' | translate}}
                  </div>
                </div>
              </div>
            </div>
          </div>

          <form novalidate ng-submit="vm.loadArticles(0)">
            <div class="search_input">
              <input
                ng-model="vm.searchText"
                ng-change="vm.searchArticles(vm.searchText)"
                maxlength="{{vm.search.max}}"
                name="value"
                placeholder="{{'SEARCH' | translate}}"
                type="text">
            </div>
            <input type="submit" hidden>
          </form>

          <div>
            <a href="">
              <i class="fa fa-search search_icon" ng-click="vm.loadArticles(0)"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="navbar_navigation">
        <ul class="menu title_text">
          <li>
            <a ui-sref="main.home">{{'HOME' | translate}}</a>
          </li>
          <li>
            <a ui-sref="main.about">{{'ABOUT' | translate}}</a>
          </li>
          <li>
            <a ui-sref="main.articles({tabIndex: 0, publicationIndex: 0, indicatorIndex: 0, categoryId: undefined, year: undefined, searchQuery: undefined})">{{'INDICATORS' | translate}}</a>
          </li>
          <li>
            <a ui-sref="main.articles({tabIndex: 1, publicationIndex: 0, indicatorIndex: 0, categoryId: undefined, year: undefined, searchQuery: undefined})">{{'PUBLICATIONS' | translate}}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
