<md-toolbar style="border-radius: 5px 5px 0 0">
  <div class="md-toolbar-tools">
    <h2>Storage</h2>
    <span flex></span>
  </div>
</md-toolbar>
<md-dialog-content style="max-width:800px;max-height:810px;" class="dialog_content">
  <md-content class="md-padding ">
    <div>
      <div class="col-xs-6 col-sm-4 col-md-3" style="padding-top: 15px;" ng-repeat="file in vm.storage track by $index">
        <div ng-dblclick="vm.chooseFile(file)" class="thumbnail text-center" style="margin-bottom:0">
          <i class="fa fa-3x" ng-class="vm.getExtensionClass(file.name)" title="{{file.name}}"></i>
          <p class="file_name">{{file.name}}</p>
        </div>
      </div>
    </div>
  </md-content>
</md-dialog-content>
<div class="md-actions" layout="row">
  <md-button ng-click="vm.cancel()" class="md-raised md-primary" style="margin-right:20px;">Cancel</md-button>
  <md-button ngf-select="vm.uploadFile($files)" ngf-multiple="true" ngf-fix-orientation="false" accept=".pdf, .docx, .xlsx" class="md-raised md-primary" style="margin-right:20px;">Add</md-button>
</div>
