<div layout layout-sm="column">
  <div flex></div>
  <div>
    <h3>photos</h3>
  </div>
  <div flex></div>
</div>
<md-button ui-sref="" class="md-fab md-fab-bottom-right md-primary" style="position:fixed;" aria-label="Add">
  <i class="fa fa-plus"></i>
  <md-tooltip md-direction="left">
    Add new
  </md-tooltip>
</md-button>
<md-content class="md-padding images_container">
  <div class="col-xs-6 col-sm-4 col-md-3">
    <div class="thumbnail" style="margin-bottom:0">
      <div class="delete_btn_contaier btn">
        <i class="fa fa-times"></i>
      </div>
      <img src="/assets/images/1.jpg">
    </div>
    <md-input-container>
      <label>Url</label>
      <input>
    </md-input-container>
  </div>
</md-content>
