<div layout layout-sm="column">
  <div flex></div>
  <div>
    <h3>photos</h3>
  </div>
  <div flex></div>
</div>
<md-button ngf-select="vm.uploadImages($files)" ngf-multiple="true" ngf-fix-orientation="false" accept="image/*" class="md-fab md-fab-bottom-right md-primary" style="position:fixed;" aria-label="Add">
  <i class="fa fa-plus"></i>
  <md-tooltip md-direction="left">
    Add new
  </md-tooltip>
</md-button>

<md-content class="md-padding images_container">
  <div class="col-xs-6 col-sm-4 col-md-3" ng-repeat="image in vm.images track by $index">
    <div class="thumbnail" style="margin-bottom:0">
      <div ng-click="vm.removeImage(image, $index)" class="delete_btn_contaier btn">
        <i class="fa fa-times"></i>
      </div>
      <img ng-src="{{image.fileName}}">
    </div>
  </div>
</md-content>
