<form
  name="form"
  class="form-signin"
  ng-submit="vm.login(form)"
  novalidate>
  <input
    type="text"
    class="form-control"
    placeholder="Name"
    ng-model="vm.admin.name"
    autofocus>
  <input
    type="password"
    class="form-control"
    placeholder="Password"
    ng-model="vm.admin.password">
  <p
    ng-if="vm.showError"
    class="form-group has-error text-danger">
    Incorrect name or password
  </p>
  <input
    type="submit"
    class="btn btn-lg btn-primary btn-block"
    value="Log In">
</form>

