.login_wrapper
  border-radius 5px
  margin-top 5%
  border 1px solid rgba(0,0,0,0.1)

.login_wrapper .md-button
  width 100%
  margin 0

.logo_wrapp
  height 100px
 & .logo
   height 100%
   & img
     height 100%

.login_inputs_wrapp
  // background url("/assets/images/background.jpg")
  // background-size 100% 100%
  // background-repeat no-repeat
  font-family: "BPG Nino Elite Caps", sans-serif;
  padding 40px

  & .login_inputs
    background rgba(200,200,200,0.3)
    border-radius 5px
    margin-top 10px


.login_input label,
.login_input input
  color #ffffff !important
