<main layout="row">
  <md-content class="login_wrapper" flex flex-offset="33">
<!--     <div class="logo_wrapp md-padding" layout="row">
      <div class="unfpa_logo logo">
        <img src="assets/images/unfpa-logo.png">
      </div>
      <div flex></div>
      <div class="minstry_logo logo">
        <img src="assets/images/sportis-saministro1.png">
      </div>
    </div> -->
    <div class="login_inputs_wrapp  md-padding">
      <div class="login_background"></div>
      <div class="login_inputs md-padding">
        <form name="loginForm">
          <md-input-container class="login_input">
            <label>მომხმარებელი (ელ. ფოსტა)</label>
            <input
              type="email"
              aria-label="email">
          </md-input-container>
          <md-input-container class="login_input">
            <label>პაროლი</label>
            <input
              type="password"
              aria-label="password">
          </md-input-container>
          <div class="md-padding">
            <md-button
              type="submit"
              class="md-raised md-primary main_title_bold"
              aria-label="log in">
              შესვლა
            </md-button>
          </div>
        </form>
      </div>
    </div>
  </md-content>
  <div flex></div>
</main>

