<div class="single_page_container about">
  <div class="single_page_content">
    <div class="page_header" layout="row">
      <span class="navigation title_text">
        <a ui-sref="main.home" href="">
          მთავარი
        </a>
        <i class="fa fa-angle-right" style="padding-left:5px;padding-right:5px;"></i>
        <a href="">
          ჩვენ შესახებ
        </a>
      </span>
      <span flex></span>
    </div>
    <div layout="row">
      <span flex></span>
      <span class="title_text page_title">
        ჩვენ შესახებ
      </span>
      <span flex></span>
    </div>
  </div>
  <div class="single_page_content ">
    <div class="md-padding about_text">
      Lorem ipsum dolor sit amet, qui in quando quodsi. Ut usu impetus suscipiantur conclusionemque. Tota minimum nec eu, ex graeco aliquid ius. Quaeque fierent expetendis ei ius, id delectus gloriatur reprehendunt cum. His duis populo maiestatis ea, pro diam hinc voluptaria cu. Nec rebum tollit incorrupte te.

      Ei duis legimus liberavisse mei, est cetero noluisse id, quo summo commune quaerendum et. Sed ne stet aliquip signiferumque, cum ut etiam labitur prodesset. Est et facilisi comprehensam. Sea veritus gubergren eu, soleat explicari delicatissimi ex sit. At sea solet democritum.

      Modus simul eu usu, quod perfecto sententiae sea id. Solum disputationi ne ius, vel soleat legere definiebas ne. Stet harum ei vix, eros maiestatis duo in. Sint vocent eu nec. Cum recusabo omittantur eu.

      No sea illum pericula ocurreret, mel ne alterum facilis ceteros, ei vix quot epicuri urbanitas. Idque salutandi eu mea. Numquam patrioque cum ne. Cum detracto quaestio intellegam te, vis et altera epicurei. Te vim accusata consulatu.

      Ludus nostrud in sit. Mei clita dolores no, ea tractatos consectetuer ius. Putant accusata qualisque pri te, sea ludus appellantur ut. Porro perfecto qui ex, ea ius commodo electram patrioque, eam dico dicit honestatis eu. Utinam civibus explicari eam ex, adolescens expetendis intellegam at sed, mel ea alterum facilisis.
    </div>
  </div>
</div>

