<div class="page_header_wrapp">
  <div class="page_header" layout="row">
    <span class="navigation">
      <a ui-sref="main.home" href="">
        {{'HOME' | translate}}
      </a>
      <i class="fa fa-angle-right" style="padding-left:5px;padding-right:5px;"></i>
      <a href="">
        {{'ABOUT' | translate}}
      </a>
    </span>
    <span flex></span>
  </div>
</div>
<div class="single_page_container about">
  <div class="single_page_title">
    <div layout="row">
      <span flex></span>
      <span class="title_text page_title">
        {{'ABOUT' | translate}}
        <hr>
      </span>
      <span flex></span>
    </div>
  </div>
  <div class="single_page_content ">
    <div class="about_text" ng-bind-html="'T' | translate:vm.about"></div>
  </div>
</div>

