.about .single_page_content
  padding-bottom 0

.about_text
  text-align left
  color #777
  // padding-left 50px
  // padding-right 50px

.page_bottom_border
  padding-bottom 30px
  border-bottom 1px solid #e1e5e6
