<div class="single_page_container about">
  <div class="single_page_content">
    <div class="page_header" layout="row">
      <span class="navigation title_text">
        <a ui-sref="main.home" href="">
          მთავარი
        </a>
        <i class="fa fa-angle-right" style="padding-left:5px;padding-right:5px;"></i>
        <a href="">
          ჩვენ შესახებ
        </a>
      </span>
      <span flex></span>
    </div>
    <div layout="row">
      <span flex></span>
      <span class="title_text page_title">
        ჩვენ შესახებ
      </span>
      <span flex></span>
    </div>
  </div>
  <div class="single_page_content ">
    <div class="md-padding about_text" ng-bind-html="vm.about.geo"></div>
  </div>
</div>

