.categories_wrapp>div
  padding 5px

.categories_wrapp .whiteframe
  padding 10px


.categories_wrapp .whiteframe a
  width 100%

.main_article_item
  min-height 30px

.main_article_item i
  margin-right 10px
