
<div class="single_page_container about">
  <div class="single_page_content">

    <div layout="row" class="">
   <!--    <div flex></div> -->
      <div flex>
        <div class="title_text">
          ვეძებ სტატისტიკას თემაზე...
        </div>
        <div layout="row">
          <div flex>

            <!--primary articles-->

            <md-list flex="80">
              <md-list-item class="main_article_item">
                <div class="md-list-item-text">
                  <a href="" class="unstyled_link">
                    <span><i class="fa fa-angle-double-right"></i></span>
                    <span>lorem ipsum dolor sit</span>
                  </a>
                </div>
              </md-list-item>
              <md-list-item class="main_article_item">
                <div class="md-list-item-text">
                  <a href="" class="unstyled_link">
                    <span><i class="fa fa-angle-double-right"></i></span>
                    <span>lorem ipsum dolor sit</span>
                  </a>
                </div>
              </md-list-item>
              <md-list-item class="main_article_item">
                <div class="md-list-item-text">
                  <a href="" class="unstyled_link">
                    <span><i class="fa fa-angle-double-right"></i></span>
                    <span>lorem ipsum dolor sit</span>
                  </a>
                </div>
              </md-list-item>
            </md-list>
            <div flex></div>
          </div>
          <div flex>
            <md-list flex="80">
              <md-list-item class="main_article_item">
                <div class="md-list-item-text">
                  <a href="" class="unstyled_link">
                    <span><i class="fa fa-angle-double-right"></i></span>
                    <span>lorem ipsum dolor sit</span>
                  </a>
                </div>
              </md-list-item>
              <md-list-item class="main_article_item">
                <div class="md-list-item-text">
                  <a href="" class="unstyled_link">
                    <span><i class="fa fa-angle-double-right"></i></span>
                    <span>lorem ipsum dolor sit</span>
                  </a>
                </div>
              </md-list-item>
              <md-list-item class="main_article_item">
                <div class="md-list-item-text">
                  <a href="" class="unstyled_link">
                    <span><i class="fa fa-angle-double-right"></i></span>
                    <span>lorem ipsum dolor sit</span>
                  </a>
                </div>
              </md-list-item>
            </md-list>
            <div flex></div>
          </div>
        </div>
        <div layout="row" class="slider_wrapper md-padding">
          <div id="owl2" class="" style="width: 500px; max-height: 400px">

            <!-- sliders -->

            <div class="item"><img src="/assets/images/sportis-saministro1.png" alt="Owl Image"></div>
            <div class="item"><img src="/assets/images/unfpa-logo.png" alt="Owl Image"></div>
            <div class="item"><img src="/assets/images/sportis-saministro1.png" alt="Owl Image"></div>
            <div class="item"><img src="/assets/images/unfpa-logo.png" alt="Owl Image"></div>
            <div class="item"><img src="/assets/images/sportis-saministro1.png" alt="Owl Image"></div>
            <div class="item"><img src="/assets/images/unfpa-logo.png" alt="Owl Image"></div>
            <div class="item"><img src="/assets/images/sportis-saministro1.png" alt="Owl Image"></div>
            <div class="item"><img src="/assets/images/unfpa-logo.png" alt="Owl Image"></div>
            <div class="item"><img src="/assets/images/sportis-saministro1.png" alt="Owl Image"></div>
            <div class="item"><img src="/assets/images/unfpa-logo.png" alt="Owl Image"></div>
            <div class="item"><img src="/assets/images/sportis-saministro1.png" alt="Owl Image"></div>
            <div class="item"><img src="/assets/images/unfpa-logo.png" alt="Owl Image"></div>
          </div>
        </div>
      </div>

      <div flex="30" class="categories_wrapp title_text">
        <div layout="row" layout-wrap layout-fill ng-cloak>
          <md-whiteframe class="md-whiteframe-1dp whiteframe" flex layout>
            <a class="unstyled_link" ui-sref="main" href="" layout="row">
              <span flex="20"><i class="fa fa-hand-paper-o fa-2x"></i></span>
              <span flex>
              მონაწილეობა
              </span>
            </a>
          </md-whiteframe>
        </div>
        <div layout="row" layout-wrap layout-fill ng-cloak>
          <md-whiteframe class="md-whiteframe-1dp whiteframe" flex layout>
            <a class="unstyled_link" ui-sref="main" href="" layout="row">
              <span flex="20"><i class="fa fa-balance-scale fa-2x"></i></span>
              <span flex>
              სპეციალური მხარდაჭერა და დაცვა
              </span>
            </a>
          </md-whiteframe>
        </div>
        <div layout="row" layout-wrap layout-fill ng-cloak>
          <md-whiteframe class="md-whiteframe-1dp whiteframe" flex layout>
            <a class="unstyled_link" ui-sref="main" href="" layout="row">
              <span flex="20"><i class="fa fa-heartbeat fa-2x"></i></span>
              <span flex>
              ჯანმრთელობა
              </span>
            </a>
          </md-whiteframe>
        </div>
        <div layout="row" layout-wrap layout-fill ng-cloak>
          <md-whiteframe class="md-whiteframe-1dp whiteframe" flex layout>
            <a class="unstyled_link" ui-sref="main.demographics" href="" layout="row">
              <span flex="20"><i class="fa fa-child fa-2x"></i></span>
              <span flex>
              ახალგაზრდები და ოჯახი
              </span>
            </a>
          </md-whiteframe>
        </div>
        <div layout="row" layout-wrap layout-fill ng-cloak>
          <md-whiteframe class="md-whiteframe-1dp whiteframe" flex layout>
            <a class="unstyled_link" ui-sref="main" href="" layout="row">
              <span flex="20"><i class="fa fa-graduation-cap fa-2x"></i></span>
              <span flex>
              განათლება, დასაქმება და მობილობა
              </span>
            </a>
          </md-whiteframe>
        </div>
      </div>
    </div>


    <div class="publications_container md-padding">
      <div layout="row">
        <div class="title_text">პუბლიკაციები</div>
        <div flex></div>
        <div></div>
      </div>
      <div layout="row">
        <div flex class="md-padding">
            <a href="" ui-sref="publication" class="unstyled_link">
              <div class="md-list-item-text" layout="column" >
                <h3 class="title_text" style="font-size:1em">
                  title  სათაური
                </h3>
                <p style="font-size:0.9em;">
                   is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                   is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                </p>
                <p style="font-size:0.8em;"> 12/08/2012 </p>
              </div>
            </a>
        </div>
        <div flex class="md-padding">
            <a href="" ui-sref="publication" class="unstyled_link">
              <div class="md-list-item-text" layout="column" >
                <h3 class="title_text" style="font-size:1em">
                  title  სათაური
                </h3>
                <p style="font-size:0.9em;">
                   is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                   is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                </p>
                <p style="font-size:0.8em;"> 12/08/2012 </p>
              </div>
            </a>
        </div>
        <div flex class="md-padding">
            <a href="" ui-sref="publication" class="unstyled_link">
              <div class="md-list-item-text" layout="column" >
                <h3 class="title_text" style="font-size:1em">
                  title  სათაური
                </h3>
                <p style="font-size:0.9em;">
                   is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                   is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                </p>
                <p style="font-size:0.8em;"> 12/08/2012 </p>
              </div>
            </a>
        </div>
      </div>
    </div>
  </div>
</div>
