.categories_wrapp>div
  padding 5px
  padding-right 0

.categories_wrapp .whiteframe
  padding 10px
  height 70px
  box-shadow: none

.categories_wrapp .whiteframe a
  width 100%
  font-size 17px
  color #ffffff
  font-weight bold
  text-decoration none

.categories_wrapp .whiteframe:hover
  box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.5)

.main_article_item
  min-height 30px

.main_article_item i
  margin-right 10px

.unstyled_link
  color #616668
  text-decoration none

.unstyled_link:hover
  color #aa1a24
  text-decoration none

.main_publications_wrapp
  min-height 145px

.main_publications_wrapp .main_publications
  width 322px
  padding-top 0

.main_publications_wrapp a
  padding-right 15px

.main_publications_wrapp .publicatons_delimiter
  border-left 1px solid #aa1a24
  height 100px
  margin-top 25px

.main_publications_wrapp .main_publications:last-child .publicatons_delimiter
  border-left none

.main_publications .publication_date
  color #888
  font-size 0.8em

.main_publications a
  color #333
  text-decoration none

.main_publications a:hover .title_text
  color #aa1a24
  text-decoration none

.category_image img
  width 100%

.single_line_category
  padding-top 15px
  padding-left 20px

.Employment .single_line_category,
.protection .single_line_category
  padding-top 5px

.publication_text_part
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 16px;     /* fallback */
  max-height: 64px;      /* fallback */
  -webkit-line-clamp: 4; /* number of lines to show */
  -webkit-box-orient: vertical;
  min-height 60px
  font-family: "BPG Ingiri Arial", sans-serif;

.publication_text_part span
  font-size 12px !important

.publication_text_part img,
.publication_text_part video
  display none

.participation
  background-color #a947ba

.protection
   background-color #f59402

.health
   background-color #66ba69

.children
   background-color #ed5351

.Employment
  background-color #1f93ff

.slider_wrapper
  padding-left 0 !important

.participation.main_slider_item
  background-color rgba(169, 71, 186, 0.5)

.protection.main_slider_item
   background-color rgba(245, 148, 2, 0.5)

.health.main_slider_item
   background-color rgba(102, 186, 105, 0.5)

.children.main_slider_item
   background-color rgba(237, 83, 81, 0.5)

.Employment.main_slider_item
  background-color rgba(31, 147, 255, 0.5)

#owl2-slider
  width 100%
  height 260px
  background-color #f5f8f9

#owl2-slider .item img
  height 260px
  width 300px

#owl2-slider .owl-dots .owl-dot span
  background #d48a92

#owl2-slider .owl-dots .owl-dot.active span
  background #aa1a24


.more_btn
  position absolute
  bottom 20px
  right 20px
  color #ffffff
  background rgba(0,0,0,0.4)
  border-radius 1px
  height 40px
  padding-right 15px
  padding-left 15px
  line-height 43px
  font-size 15px

.more_btn:hover
  font-weight bold
  color #ffffff
  text-decoration none

.btn_wrapper
  margin-top -65px;
  z-index 100
  position relative
  width 80px
  padding-left 22px

.btn_wrapper .btn
  border none
  border-radius 0
  background-color transparent
  color #ffffff

.btn_wrapper .btn:active,
.btn_wrapper .btn:focus
  background-color transparent
  outline none
  border none
  box-shadow none

.banner_row .banner img
  max-width 100%

.home_map_wrapper
  text-align center

.home_map_wrapper img
  max-width 400px
  padding-top 60px

.Employment .category_image img
  padding-top 10px

.all_publications_btn
  background-color #aa1a24 !important
  color #ffffff !important
  border-radius 0
  padding 3px 15px
  padding-top 5px
  font-size 13px
  height 30px
  margin-top 10px
  margin-right -16px

.all_publications_btn:hover
  text-decoration none

.publications_con_wrapp
  background-color #fafafa
  height 250px

.publications_container
  width 1000px
  margin 0 auto

.banner_wrapp
  background-color #ededed

.banner
  text-align center

.banner_row
  width 1000px
  margin 0 auto

.home_map_wrapp fc-chart .raphael-group-1-background rect
  fill #ededed !important

.banner_row .page_title a
  color #aa1a24
  text-decoration none
  font-size 1.4em

.banner_row .page_title hr
  border-color #aa1a24
  margin-top 5px

.main_article_p
  height 20px
  overflow-y hidden
  cursor pointer

.scrolltop
  position fixed
  bottom 100px
  height 35px
  width 35px
  border-radius 20px
  background-color #aa1a24
  color #ffffff
  margin-left -20px
  text-align center
  cursor pointer
  z-index 2000 !important

.scrolltop:hover
  color #ffffff
  text-decoration none

.scrolltop i
  margin-top 10px

.demographics_subtitle
  margin-left 172px
  width 130px
  font-size 11px
  text-align right

.category_title_text
  text-transform capitalize

