.categories_wrapp>div
  padding 5px

.categories_wrapp .whiteframe
  padding 10px
  min-height 60px


.categories_wrapp .whiteframe a
  width 100%

.main_article_item
  min-height 30px

.main_article_item i
  margin-right 10px

.unstyled_link
  color #333
  text-decoration none

.unstyled_link:hover
  color #777
  text-decoration none
