
<div class="single_page_container about">
  <div class="single_page_content">

    <div layout="row" class="">
   <!--    <div flex></div> -->
      <div flex>
        <div layout="row">
          <div flex>
            <md-list flex="80">
              <md-list-item class="main_article_item">
                <div class="md-list-item-text">
                  <span><i class="fa fa-angle-double-right"></i></span>
                  <span>lorem ipsum dolor sit</span>
                </div>
              </md-list-item>
              <md-list-item class="main_article_item">
                <div class="md-list-item-text">
                  <span><i class="fa fa-angle-double-right"></i></span>
                  <span>lorem ipsum dolor sit</span>
                </div>
              </md-list-item>
              <md-list-item class="main_article_item">
                <div class="md-list-item-text">
                  <span><i class="fa fa-angle-double-right"></i></span>
                  <span>lorem ipsum dolor sit</span>
                </div>
              </md-list-item>
            </md-list>
            <div flex></div>
          </div>
          <div flex>
            <md-list flex="80">
              <md-list-item class="main_article_item">
                <div class="md-list-item-text">
                  <span><i class="fa fa-angle-double-right"></i></span>
                  <span>lorem ipsum dolor sit</span>
                </div>
              </md-list-item>
              <md-list-item class="main_article_item">
                <div class="md-list-item-text">
                  <span><i class="fa fa-angle-double-right"></i></span>
                  <span>lorem ipsum dolor sit</span>
                </div>
              </md-list-item>
              <md-list-item class="main_article_item">
                <div class="md-list-item-text">
                  <span><i class="fa fa-angle-double-right"></i></span>
                  <span>lorem ipsum dolor sit</span>
                </div>
              </md-list-item>
            </md-list>
            <div flex></div>
          </div>
        </div>
        <div layout="row">

        </div>
      </div>




      <div flex="30" class="categories_wrapp title_text">
        <div layout="row" layout-wrap layout-fill ng-cloak>
          <md-whiteframe class="md-whiteframe-1dp whiteframe" flex layout>
            <a ui-sref="main" href="" layout="row">
              <span flex="20"><i class="fa fa-hand-paper-o fa-2x"></i></span>
              <span flex>
              მონაწილეობა
              </span>
            </a>
          </md-whiteframe>
        </div>
        <div layout="row" layout-wrap layout-fill ng-cloak>
          <md-whiteframe class="md-whiteframe-1dp whiteframe" flex layout>
            <a ui-sref="main" href="" layout="row">
              <span flex="20"><i class="fa fa-balance-scale fa-2x"></i></span>
              <span flex>
              სპეციალური მხარდაჭერა და დაცვა
              </span>
            </a>
          </md-whiteframe>
        </div>
        <div layout="row" layout-wrap layout-fill ng-cloak>
          <md-whiteframe class="md-whiteframe-1dp whiteframe" flex layout>
            <a ui-sref="main" href="" layout="row">
              <span flex="20"><i class="fa fa-heartbeat fa-2x"></i></span>
              <span flex>
              ჯანმრთელობა
              </span>
            </a>
          </md-whiteframe>
        </div>
        <div layout="row" layout-wrap layout-fill ng-cloak>
          <md-whiteframe class="md-whiteframe-1dp whiteframe" flex layout>
            <a ui-sref="main.demographics" href="" layout="row">
              <span flex="20"><i class="fa fa-child fa-2x"></i></span>
              <span flex>
              ახალგაზრდები და ოჯახი
              </span>
            </a>
          </md-whiteframe>
        </div>
        <div layout="row" layout-wrap layout-fill ng-cloak>
          <md-whiteframe class="md-whiteframe-1dp whiteframe" flex layout>
            <a ui-sref="main" href="" layout="row">
              <span flex="20"><i class="fa fa-graduation-cap fa-2x"></i></span>
              <span flex>
              განათლება, დასაქმება და მობილობა
              </span>
            </a>
          </md-whiteframe>
        </div>
      </div>
    </div>
  </div>
</div>
