<div class="single_page_container about">
  <div class="single_page_content">
    <div layout="row" class="" style="height: 470px;">
      <div flex>
        <div class="title_text">
          <h4 style="margin-top:0; margin-left:0px">{{'LOOKING_STATISTICS' | translate}}</h4>
        </div>
        <div layout="row">
          <div flex>
            <md-list flex="90" ng-repeat="article in vm.firstLevelPrimaryArticles" style="padding:0">
              <md-list-item class="main_article_item">
                <div class="md-list-item-text">
                  <a ui-sref="{{'main.' + article.ref.type}}({id:article.ref._id})" class="unstyled_link">
                    <p class="main_article_p small_text"><i class="fa fa-angle-double-right"></i>{{'T' | translate:article.title}}</p>
                  </a>
                </div>
              </md-list-item>
            </md-list>
            <div flex></div>
          </div>
          <div flex>
            <md-list flex="90" ng-repeat="article in vm.secondLevelPrimaryArticles" style="padding:0">
              <md-list-item class="main_article_item">
                <div class="md-list-item-text">
                  <a ui-sref="{{'main.' + article.ref.type}}({id:article.ref._id})" class="unstyled_link">
                  <p class="main_article_p small_text"><i class="fa fa-angle-double-right"></i>{{'T' | translate:article.title}}</p>
                  </a>
                </div>
              </md-list-item>
            </md-list>
            <div flex></div>
          </div>
        </div>
        <div layout="row" class="slider_wrapper md-padding">
          <div id="owl2-slider" class="owl-carousel owl-theme" style="width: 620px; max-height: 400px">
            <div class="item main_slider_item" ng-repeat="slide in vm.slider" layout="row" ng-class="slide.categoryClass">
              <img ng-src="{{slide.image}}" alt="{{slide.title.geo}}">
              <div layout="column" class="md-padding">
                <div>
                  <h4 class="title_text" style="width: 280px; max-height: 150px; overflow-y:hidden;">{{'T' | translate:slide.title}}</h4>
                </div>
                <a ng-if="slide.ref._id" ui-sref="{{'main.' + slide.ref.type}}({id: slide.ref._id})" class="more_btn title_text">
                  {{'READ_MORE' | translate}}
                </a>
                <a ng-if="!slide.ref._id" href="{{slide.link}}" target="_blank" class="more_btn title_text">
                  {{'READ_MORE' | translate}}
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="btn_wrapper" layout="row">
          <div ng-show="!vm.sliderPlaying" class="play btn btn-default"><i class="fa fa-play"></i></div>
          <div ng-show="vm.sliderPlaying" class="stop btn btn-default"><i class="fa fa-pause"></i></div>
          <div flex></div>
        </div>
      </div>
      <div flex="30" class="categories_wrapp title_text categories_list">
        <div ng-repeat="category in vm.categories" layout="row" layout-wrap ng-cloak class="single_category">
          <md-whiteframe class="md-whiteframe-1dp whiteframe" ng-class="category.title.eng" flex layout>
            <a class="unstyled_link" ui-sref="main.articles({tabIndex: 0, publicationIndex: 0, indicatorIndex: 0, categoryId: category._id, year: undefined, searchQuery: undefined})" href="" layout="row">
              <span flex="20" class="category_image">
                <img ng-src="/assets/images/{{category.title.eng}}.png">
              </span>
              <span flex class="single_line_category category_title_text">
                {{'T' | translate:category.title}}
              </span>
            </a>
          </md-whiteframe>
        </div>
      </div>
    </div>
  </div>
  <div class="publications_con_wrapp">
    <div class="publications_container md-padding">
      <div layout="row">
        <div class="title_text">
          <h4 style="margin:0; padding-top:10px; margin-left: -16px;">{{'PUBLICATIONS' | translate}}</h4>
        </div>
        <div flex></div>
        <a class="all_publications_btn" ui-sref="main.articles({tabIndex: 1, publicationIndex: 0, indicatorIndex: 0, categoryId: undefined, year: undefined, searchQuery: undefined})">
         {{'ALL' | translate}}
        </a>
      </div>
      <div layout="row" class="main_publications_wrapp">
        <div ng-show="vm.engPublicationExists(publication)" class="md-padding main_publications" layout="row" ng-repeat="publication in vm.latestPublications" >
          <a ui-sref="main.publication({id: publication._id})">
            <div class="md-list-item-text" layout="column" >
              <h3 class="title_text" style="font-size:1em">{{'T' | translate:publication.title}}</h3>
              <p style="font-size:0.9em;" ng-bind-html="'T' | translate:publication.content" class="publication_text_part recent_publications"></p>
              <p class="publication_date">{{publication.date | date: 'yyyy-MM-dd': 'GMT+03:00'}}</p>
            </div>
          </a>
          <span flex></span>
          <span class="publicatons_delimiter"></span>
        </div>
      </div>
      <div layout="row" class="scroll_btn_wrap" md-padding>
        <div flex></div>
        <a ng-click="vm.scrollTop()" class="scrolltop">
         <i class="fa fa-step-backward fa-rotate-90"></i>
        </a>
      </div>
    </div>
  </div>
  <div class="banner_wrapp">
    <div layout="row" class="banner_row md-padding">
      <div class="" layout="row" flex style="padding-top:16px" >
        <div class="item" flex>
          <div layout="row">
            <span flex></span>
            <span class="title_text page_title">
              <a href="{{vm.banner.link}}" target="_blank">
                {{'T' | translate:vm.banner.title}}
              </a>
              <hr>
            </span>
            <span flex></span>
          </div>
          <div class="home_map_wrapp">
            <div class="banner" flex>
              <a href="{{vm.banner.link}}" target="_blank">
                <img ng-src="{{vm.banner.image}}" alt="{{vm.banner.title.geo}}">
              </a>
            </div>
          </div>
        </div>
        <div class="item "flex>
          <div layout="row">
            <span flex></span>
            <span class="title_text page_title">
              <a href="" ui-sref="main.demographics" >
                {{'DEMOGRAPHICS' | translate}}
              </a>
              <hr>
            </span>
            <span flex></span>
          </div>
          <div layout="row">
            <span class="demographics_subtitle title_text">{{'DATA_FOR_1' | translate}} {{vm.demographicsMaxYear}} {{'DATA_FOR_2' | translate}} <span>{{vm.demographicsTotalValue}}</span> {{'MAN' | translate}}</span>
          </div>
          <div class="home_map_wrapp">
            <fusion-map bg-color="'#ededed'" height="300" width="500" demographics="vm.demographics" ></fusion-map>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

