<!--<md-button ngf-select="uploadImage($file)" ngf-multiple="false" ngf-fix-orientation="false" accept="image/*" class="md-fab md-fab-bottom-right md-primary" style="position:fixed;" aria-label="Add">-->
    <!--<i class="fa fa-plus"></i>-->
    <!--<md-tooltip md-direction="left">-->
        <!--Add new-->
    <!--</md-tooltip>-->
<!--</md-button>-->
<!--  -->


<md-dialog aria-label="Mango (Fruit)" style="min-width:60%">
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Add photo</h2>
        <span flex></span>
      </div>
    </md-toolbar>
    <md-dialog-content style="max-width:800px;max-height:810px;" class="dialog_content">
      <md-content class="md-padding images_container">
        <div>
          <md-button class="md-fab md-primary" aria-label="Add">
            <i class="fa fa-plus"></i>
            <md-tooltip md-direction="left">
              Add new
            </md-tooltip>
          </md-button>
        </div>
        <div>
          <div class="col-xs-6 col-sm-4 col-md-3" style="padding-top: 15px;" ng-repeat="image in images track by $index" >
            <div class="thumbnail" style="margin-bottom:0">
              <img ng-src="{{image.fileName}}">
            </div>
          </div>
          <div class="col-xs-6 col-sm-4 col-md-3" style="padding-top: 15px;">
            <div class="thumbnail" style="margin-bottom:0">
              <img ng-src="{{image.fileName}}">
            </div>
          </div>
          <div class="col-xs-6 col-sm-4 col-md-3" style="padding-top: 15px;">
            <div class="thumbnail" style="margin-bottom:0">
              <img ng-src="/assets/images/1.jpg">
            </div>
          </div>
          <div class="col-xs-6 col-sm-4 col-md-3" style="padding-top: 15px;">
            <div class="thumbnail" style="margin-bottom:0">
              <img ng-src="/assets/images/2.jpeg">
            </div>
          </div>
          <div class="col-xs-6 col-sm-4 col-md-3" style="padding-top: 15px;">
            <div class="thumbnail" style="margin-bottom:0">
              <img ng-src="/assets/images/kizaru.jpg">
            </div>
          </div>
          <div class="col-xs-6 col-sm-4 col-md-3" style="padding-top: 15px;">
            <div class="thumbnail" style="margin-bottom:0">
              <img ng-src="/assets/images/long.jpg">
            </div>
          </div>
        </div>
      </md-content>
    </md-dialog-content>
    <div class="md-actions" layout="row">
      <md-button ng-click="answer()" class="md-raised md-primary" style="margin-right:20px;" >Cansel</md-button>
      <md-button ng-click="answer()" class="md-raised md-primary" style="margin-right:20px;" >Save</md-button>
    </div>
  </form>
</md-dialog>
