<div class="single_page_content">
  <div layout="row" class="main_page_container">
    <div layout="column" flex="30">
      <div class="title_text" style="font-size:1.2em">მიმართულება</div>
      <div style="padding-top: 20px">
        <div class="direction_title title_text">
          <a href=""><i class="fa fa-hand-paper-o"></i>მონაწილეობა</a>
        </div>
        <div class="direction_title title_text">
          <a href=""><i class="fa fa-balance-scale"></i>სპეციალური მხარდაჭერა და დაცვა</a>
        </div>
        <div class="direction_title title_text">
          <a href=""><i class="fa fa-heartbeat"></i>ჯანმრთელობა</a>
        </div>
        <div class="direction_title title_text">
          <a href=""><i class="fa fa-child"></i>ახალგაზრდები და ოჯახი</a>
        </div>
        <div class="direction_title title_text">
          <a href=""><i class="fa fa-graduation-cap"></i>განათლება, დასაქმება და მობილობა</a>
        </div>
      </div>

      <div class="title_text" style="font-size:1.2em;padding-top: 20px">პუბლიკაციები წლების მიხედვით</div>
      <div style="padding-top: 20px; padding-left: 25px">
        <div class="publication_year direction_title title_text">
          <a href="">2010</a>
        </div>
        <div class="publication_year direction_title title_text">
          <a href="">2011</a>
        </div>
        <div class="publication_year direction_title title_text">
          <a href="">2012</a>
        </div>
        <div class="publication_year direction_title title_text">
          <a href="">2013</a>
        </div>
        <div class="publication_year direction_title title_text">
          <a href="">2014</a>
        </div>
        <div class="publication_year direction_title title_text">
          <a href="">2015</a>
        </div>
        <div class="publication_year direction_title title_text">
          <a href="">2016</a>
        </div>
      </div>
    </div>
    <div layout="column" flex="5" ></div>
    <div layout="column" flex class="">
      <md-content>
        <md-tabs md-dynamic-height md-border-bottom>
          <md-tab label="ინდიკატორები">

          </md-tab>
          <md-tab label="პუბლიკაციები" active>
            <md-content class=" publications_list">
              <md-list>
                <md-list-item class="md-3-line" style="padding: 10px;">
                  <a href="" ui-sref="publication">
                    <div class="md-list-item-text" layout="column" >
                      <h3 class="title_text" style="font-size:1.3em;">
                        title  სათაური
                      </h3>
                      <p style="font-size:0.8em;"> 12/08/2012 </p>
                      <p>
                         is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                         is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                      </p>
                    </div>
                  </a>
                </md-list-item>
                <md-divider ></md-divider>
                <md-list-item class="md-3-line" style="padding: 10px;">
                  <a href="" ui-sref="publication">
                    <div class="md-list-item-text" layout="column" >
                      <h3 class="title_text" style="font-size:1.3em;">
                        title  სათაური
                      </h3>
                      <p style="font-size:0.8em;"> 12/08/2012 </p>
                      <p>
                         is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                         is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                      </p>
                    </div>
                  </a>
                </md-list-item>
                <md-divider ></md-divider>
                <md-list-item class="md-3-line" style="padding: 10px;">
                  <a href="" ui-sref="publication">
                    <div class="md-list-item-text" layout="column" >
                      <h3 class="title_text" style="font-size:1.3em;">
                        title  სათაური
                      </h3>
                      <p style="font-size:0.8em;"> 12/08/2012 </p>
                      <p>
                         is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                         is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                      </p>
                    </div>
                  </a>
                </md-list-item>
              </md-list>
            </md-content>
          </md-tab>
        </md-tabs>
      </md-content>
    </div>
  </div>
</div>

