<md-dialog aria-label="Mango (Fruit)" style="min-width:60%">
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Add Slide</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="vm.close()">
          <i class="fa fa-times" aria-label="Close dialog"></i>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content style="max-width:800px;max-height:810px; " class="dialog_content">
      <md-content class="md-padding">
        <div layout layout-sm="column">
          <md-input-container flex>
            <label>სტატიის სახელი</label>
            <input ng-model="user.firstName">
          </md-input-container>
          <md-input-container flex>
            <label>article name</label>
            <input ng-model="user.firstName">
          </md-input-container>
          <md-input-container flex>
            <label>article URL</label>
            <input ng-model="theMax">
          </md-input-container>
        </div>
        <div layout layout-sm="column">
          <div class="thumbnail" style="margin-bottom:0; width:25%">
          </div>
          <md-input-container>
            <md-button class="md-raised md-primary">Upload photo</md-button>
          </md-input-container>
        </div>
      </md-content>
    </md-dialog-content>
    <div class="md-actions" layout="row">
      <md-button ng-click="answer()" class="md-raised md-primary" style="margin-right:20px;" >Save</md-button>
    </div>
  </form>
</md-dialog>
