.page_tabs .md-tab.md-active
  color rgb(63,81,181)

.page_tabs .md-tab
  color rgba(0,0,0,0.54)

.contact_page_inputs md-input-container,
.first_page_articles>div>md-input-container
  padding-bottom 0
