<md-card flex>
  <md-content>
    <md-tabs md-dynamic-height md-border-bottom>
      <md-tab label="ვეძებ სტატიას თემაზე">
        <md-content class="md-padding first_page_articles">
          <div layout layout-sm="column">
            <md-input-container >
              <label>1</label>
            </md-input-container>
            <md-input-container flex>
              <label>Article Name</label>
              <input>
            </md-input-container>
            <md-input-container flex>
              <label>Article Url</label>
              <input>
            </md-input-container>
          </div>
          <div layout layout-sm="column">
            <md-input-container >
              <label>2</label>
            </md-input-container>
            <md-input-container flex>
              <label>Article Name</label>
              <input>
            </md-input-container>
            <md-input-container flex>
              <label>Article Url</label>
              <input>
            </md-input-container>
          </div>
          <div layout layout-sm="column">
            <md-input-container >
              <label>3</label>
            </md-input-container>
            <md-input-container flex>
              <label>Article Name</label>
              <input>
            </md-input-container>
            <md-input-container flex>
              <label>Article Url</label>
              <input>
            </md-input-container>
          </div>
          <div layout layout-sm="column">
            <md-input-container >
              <label>4</label>
            </md-input-container>
            <md-input-container flex>
              <label>Article Name</label>
              <input>
            </md-input-container>
            <md-input-container flex>
              <label>Article Url</label>
              <input>
            </md-input-container>
          </div>
          <div layout layout-sm="column">
            <md-input-container >
              <label>5</label>
            </md-input-container>
            <md-input-container flex>
              <label>Article Name</label>
              <input>
            </md-input-container>
            <md-input-container flex>
              <label>Article Url</label>
              <input>
            </md-input-container>
          </div>
          <div layout layout-sm="column">
            <md-input-container >
              <label>6</label>
            </md-input-container>
            <md-input-container flex>
              <label>Article Name</label>
              <input>
            </md-input-container>
            <md-input-container flex>
              <label>Article Url</label>
              <input>
            </md-input-container>
          </div>
          <div layout layout-sm="column" style="margin-top: 10px">
          <div class="flex"></div>
            <md-button class="md-raised md-primary">Save</md-button>
          </div>
        </md-content>
      </md-tab>
      <md-tab label="two">
        <md-content class="md-padding">
          <h1 class="md-display-2">slider</h1>
          <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.</p>
        </md-content>
      </md-tab>
      <md-tab label="three">
        <md-content class="md-padding">
          <h1 class="md-display-2">Tab Three</h1>
          <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.</p>
        </md-content>
      </md-tab>
    </md-tabs>
  </md-content>
</md-card>
