<div layout layout-sm="column">
  <div flex></div>
  <div>
    <h3 class="title_text">დემოგრაფია</h3>
  </div>
  <div flex></div>
</div>


<div class="geo_map_container">
  <demography-map width="720" heigth="400" bg-color="'#ffffff'" demographics="vm.demographics" on-demography-selected="vm.openUpdateDemographyModal"></demography-map>
</div>

<div class="md-padding">
  <table class="table table-bordered indicators_table demograpy_table">
    <thead>
      <tr>
        <th></th>
        <th ng-repeat="year in vm.years">{{year}}</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="(name, demography) in vm.demographics">
        <td class="table_article_title" style="cursor: pointer" class="title_text">{{demography.region.geo}}</td>
        <td ng-repeat="demographyYear in vm.years">
          <input type="text" class="demograpy_input" ng-model="demography.valuesMap[demographyYear]">
        </td>
      </tr>
    </tbody>
  </table>
  <div layout="row">
    <span flex></span>
    <md-button ng-click="vm.updateDemographics()" class="md-primary md-raised"> update </md-button>
  </div>
</div>

