.abkhazia
  fill #111 !important

.abkhazia:hover
  fill-opacity 0.7 !important

.samegrelo
  fill #222 !important

.svaneti
  fill #333 !important

.imereti
  fill #444 !important

.guria
  fill #555 !important

.adjara
  fill #666 !important

.samtske
  fill #777 !important

.shida_qartli
  fill #888 !important

.qvemo_qartli
  fill #999 !important

.mtsketa_mtianeti
  fill #101 !important

.kakheti
  fill #202 !important

.tbilisi
  fill #300 !important
