#selectedDemography
  padding 10px
  width: 120px;
  position: absolute;
  z-index: 100;
  background: rgba(255, 255, 255, 1);

#selectedDemography .region_title
  font-weight normal
  color #b42323
  text-align center

#selectedDemography .year_value
  float left

#selectedDemography .region_value
  float right


.demograpy_table .title_text
  text-align left

.demograpy_table
  width 99%

.data_container
  font-size 11px
