#selectedDemography
  padding 5px
  width: 100px;
  position: absolute;
  z-index: 100;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 5px;

#selectedDemography .region_title
  font-weight normal
  color #b42323

#selectedDemography .year_value
  float left

#selectedDemography .region_value
  float right


.demograpy_table .title_text
  text-align left

.demograpy_table
  width 99%