<div class="single_page_container">
  <div class="single_page_content">
    <div class="page_header" layout="row">
      <span class="navigation title_text">
        <a ui-sref="main.home" href="">
          მთავარი
        </a>
        <i class="fa fa-angle-right" style="padding-left:5px;padding-right:5px;"></i>
        <a ui-sref="contact" href="">
          კონტაქტი
        </a>
      </span>
      <span flex></span>
    </div>
    <div layout="row">
      <span flex></span>
      <span class="title_text page_title">
        კონტაქტი
      </span>
      <span flex></span>
    </div>
    <div layout="row" class="md-inline-form contact_form md-padding" >
      <div layout="column">
        <md-content layout="row" layout-sm="column">
          <md-input-container>
            <label class="contact_label title_text">სახელი, გვარი</label>
            <input>
          </md-input-container>
        </md-content>
        <md-content layout="row" layout-sm="column">
          <md-input-container>
            <label class="contact_label title_text">ელექტრონული ფოსტა</label>
            <input>
          </md-input-container>
        </md-content>
        <md-content layout="row" layout-sm="column">
          <md-input-container>
            <label class="contact_label title_text">თემა</label>
            <input>
          </md-input-container>
        </md-content>
      </div>
      <div layout="column" flex>
        <md-content layout="row">
          <md-input-container flex>
            <label class="contact_label title_text">შეტყობინება</label>
            <input>
          </md-input-container>
        </md-content>
        <md-content layout="row" layout-sm="column">
          <span flex></span>
          <md-button class="send_btn">
            <span class="title_text">
              გაგზავნა
            </span>
          </md-button>
        </md-content>
      </div>
    </div>
  </div>
  <div style="border-top: 1px solid red">

  </div>
</div>

