.single_page_content
  padding-left 20%
  padding-right 20%
  padding-top 30px
  padding-bottom 30px

.single_page_content .page_title
  color #b42323
  font-size 1.2em

.single_page_content .navigation a,
.single_page_content .navigation
  color #b42323
  font-size 0.9em
  font-weight normal

.single_page_content .navigation a:hover
  text-decoration none

.single_page_content .contact_label
  color #b42323
  font-size 0.9em

.md-input-container:not(.md-input-invalid).md-input-focused label.contact_label
  color #b42323

.contact_form .send_btn
  background-color #e2e2e2
  color #b42323
