<div class="page_header_wrapp">
  <div class="page_header" layout="row">
    <span class="navigation">
      <a ui-sref="main.home" href="">
        {{'HOME' | translate}}
      </a>
      <i class="fa fa-angle-right" style="padding-left:5px;padding-right:5px;"></i>
      <a href="">
        {{'CONTACT' | translate}}
      </a>
    </span>
    <span flex></span>
  </div>
</div>

<div class="single_page_container">
  <div class="single_page_title">
    <div layout="row">
      <span flex></span>
      <span class="title_text page_title">
        {{'CONTACT' | translate}}
        <hr>
      </span>
      <span flex></span>
    </div>
  </div>
  <div class="single_page_content small_text">
    <div layout="row">
      <h4 class="title_text">
        {{'GLAD_TO_RECIEVE_1' | translate}}
        <span class="colored_word">{{'GLAD' | translate}}</span>
        {{'GLAD_TO_RECIEVE_2' | translate}}
      </h4>
    </div>
    <form
      novalidate
      ng-submit="vm.sendEmail(form)"
      name="form">
      <div layout="row" layout-wrap>
        <div class="contact_inputs">
          <h3>{{'NAME' | translate}}</h3>
          <input  name="person" type="text" ng-model="vm.message.person" required>
          <h3>{{'EMAIL' | translate}}</h3>
          <input name="from" type="email" ng-model="vm.message.from" required>
          <h3>{{'SUBJECT' | translate}}</h3>
          <input name="theme" type="text" ng-model="vm.message.theme" required>
        </div>
        <div class="contact_note">
          <h3>{{'CONTENT' | translate}}</h3>
          <textarea name="msg" ng-model="vm.message.content"></textarea>
        </div>
        <div flex="100">
          <md-content layout="row" layout-sm="column">
            <span flex></span>
            <md-button type="submit" ng-disabled="form.$invalid" class="send_btn title_text">
              <span class="title_text"> {{'SEND' | translate}}</span>
            </md-button>
          </md-content>
        </div>
      </div>
    </form>
  </div>

  <div class="contact_map_wrapper">
    <div layout="row" class="contact_info_wrapp">
      <div class="contact_info md-padding">
        <div layout="row" style="font-size:11px">
          <div layout="column" class="column">
            <div>
              <div><i class="fa fa-map-marker fa-2x"></i></div>
              <div>{{ 'T' | translate:vm.contacts.address}}</div>
            </div>
            <div class="space_separator"></div>
          </div>
          <div layout="column" class="column">
            <div>
              <div><i class="fa fa-envelope-o fa-2x"></i></div>
              <div>{{vm.contacts.mail}}</div>
            </div>
          </div>
          <div layout="column" class="column">
            <div>
              <div><i class="fa fa-phone fa-2x"></i></div>
              <div>
                <ul class="unstyled_list">
                  <li ng-repeat="phone in vm.contacts.phones">{{phone}}</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="map_overlay"></div>
    <div class="map" id="contact-map" style="height: 100%; width:100%"></div>
  </div>
</div>

