.single_page_content
  padding-top 20px
  padding-bottom 30px
  width 1000px
  margin 0 auto

.single_page_content .page_title
  color #b42323
  font-size 1.2em

.single_page_content .navigation a,
.single_page_content .navigation
  color #b42323
  font-size 0.9em
  font-weight normal

.single_page_content .navigation a:hover
  text-decoration none

.single_page_content .contact_label
  color #b42323 !important
  font-size 0.9em

.single_page_content .md-input
  border-color #b42323 !important

.md-input-container:not(.md-input-invalid).md-input-focused label.contact_label
  color #b42323

.send_btn
  background-color #aa1a24 !important
  color #ffffff !important
  margin-right 0 !important

.contact_inputs
  width: 50%;
  float: left;
  padding-right: 1%;

.contact_inputs h3
  width: 100%;
  text-align: left;
  font-size: 13px;

.contact_inputs input
  width: 94%;
  height: 38px;
  background-color: #fafafa;
  border-radius: 3px;
  border: 1px solid #ebebeb;
  outline: none;
  padding-left: 10px;
  padding-right: 10px;

.contact_note
  width: 50%;
  float: right;
  padding-left: 1%;

.contact_note h3
  width: 100%;
  text-align: left;
  font-size: 13px;

.contact_note textarea
  width: 100%;
  background-color: #fafafa;
  padding: 10px;
  border-radius: 3px;
  outline: none;
  height: 202px;
  resize: none;
  border: 1px solid #ebebeb;

.contact_inputs input:focus,
.contact_note textarea:focus
  border-color #aa1a24

.unstyled_list
  list-style none



.single_page_content .page_title a
  color inherit
  text-decoration none

.single_page_content .page_title hr
  border-color #b42323
  margin-top 5px

.contact_map_wrapper
  height 400px

.map_overlay
  position absolute
  z-index 100
  box-shadow inset  0  10px 30px -8px rgba(0,0,0,0.6),
             inset  0 -10px 30px -8px rgba(0,0,0,0.6)
  height 400px
  width 100%
  background-color rgba(0, 0, 0, 0)

.contact_info_wrapp
  position absolute
  margin-top 300px
  width 100%

.contact_info_wrapp .contact_info
  height 100px
  width 450px
  background-color #fff
  box-shadow 0px -14px 38px -16px rgba(0,0,0,0.6)
  text-align center
  margin 0 auto
  color #595959
  z-index 200



.contact_info .title_text
  color #333

.colored_word
  color #aa1a24

.contact_info_wrapp .contact_info .fa
  font-size 20px
  color #595758
  margin-bottom 20px

.contact_info_wrapp .contact_info .column
  width 150px
  cursor pointer

.contact_info_wrapp .contact_info .column:hover,
.contact_info_wrapp .contact_info .column:hover .fa
  color #aa1a24

.contact_info_wrapp .contact_info .column ul
  padding-left 0








































.map-container
  position relative
  overflow hidden
  width 100%
  height 400px

.map-container i
  position absolute
  display block
  box-shadow 0 0 15px 5px rgba(0, 0, 0, 0.6)

.map-top
  top -5px
  left 0
  right 0
  height 5px

.map-bottom
  bottom -5px
  left 0
  right 0
  height 5px

#contact-map
  width inherit
  height inherit

