<md-dialog aria-label="Mango (Fruit)" style="min-width:60%">
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Edit Indicator</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="vm.close()">
          <i class="fa fa-times" aria-label="Close dialog"></i>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content style="max-width:800px;max-height:810px; " class="dialog_content">
      <md-tabs md-dynamic-height md-border-bottom class="page_tabs">
        <md-tab label="ქართული">
          <md-content class="md-padding">
            <div layout layout-sm="column">
              <md-input-container style="width:70%">
                <label>მიმართულება</label>
                <md-select ng-model>
                  <md-option>მონაწილეობა</md-option>
                  <md-option>სპეციალური მხარდაჭერა და დაცვა</md-option>
                  <md-option>ჯანმრთელობა</md-option>
                  <md-option>განათლება, დასაქმება და მობილობა</md-option>
                </md-select>
              </md-input-container>
              <md-datepicker ng-model="user.submissionDate" md-placeholder="Enter date"></md-datepicker>
            </div>
            <div flex class="year_container" style="padding-right:0;padding-left:0;">
              <div layout="row">
                <md-input-container style="padding-bottom:0" flex="20">
                  <label>წელი</label>
                  <md-select ng-model>
                    <md-option>2009</md-option>
                    <md-option>2010</md-option>
                    <md-option>2011</md-option>
                    <md-option>2012</md-option>
                  </md-select>
                </md-input-container>
                <div style="margin-top: 30px;" flex="5" class="text-center">
                    <i class="fa fa-angle-double-right"></i>
                </div>
                <md-input-container style="padding-bottom:0" flex="20">
                  <label>მაჩვენებელი</label>
                  <input>
                </md-input-container>
                <md-button class="md-fab md-mini md-primary" aria-label="Edit">
                  <i class="fa fa-trash-o"></i>
                </md-button>
              </div>
              <span flex></span>
            </div>

            <div flex class="year_container" style="padding-right:0;padding-left:0;">
              <div layout="row">
                <md-input-container style="padding-bottom:0" flex="20">
                  <label>წელი</label>
                  <md-select ng-model>
                    <md-option>2009</md-option>
                    <md-option>2010</md-option>
                    <md-option>2011</md-option>
                    <md-option>2012</md-option>
                  </md-select>
                </md-input-container>
                <div style="margin-top: 30px;" flex="5" class="text-center">
                    <i class="fa fa-angle-double-right"></i>
                </div>
                <md-input-container style="padding-bottom:0" flex="20">
                  <label>მაჩვენებელი</label>
                  <input>
                </md-input-container>
                <md-button class="md-fab md-mini md-primary" aria-label="Add">
                  <i class="fa fa-plus"></i>
                </md-button>
              </div>
              <span flex></span>
            </div>

            <md-input-container flex>
              <label>სათაური</label>
              <input>
            </md-input-container>
            <text-angular ng-model="vm.aboutUs"></text-angular>
          </md-content>
        </md-tab>
        <md-tab label="English">
          <md-content class="md-padding">
            <md-input-container flex>
              <md-input-container style="width:70%">
                <label>Title</label>
                <input>
              </md-input-container>
            </md-input-container>
            <text-angular ng-model="vm.aboutUs"></text-angular>
          </md-content>
        </md-tab>
      </md-tabs>
    </md-dialog-content>
    <div class="md-actions" layout="row">
      <md-button ng-click="answer()" class="md-raised md-primary" style="margin-right:20px;" >Save</md-button>
    </div>
  </form>
</md-dialog>
