<div class="admin_container" layout="column" >
  <md-toolbar>
    <div class="md-toolbar-tools">
      <div>
        <md-button class="md-icon-button" aria-label="Settings" ng-click="toggleLeft()">
          <i class="fa fa-bars"></i>
        </md-button>
        <md-button class="md-tools">
          UN site
        </md-button>
      </div>
      <span flex></span>
      <md-button class="md-icon-button" aria-label="Sign out">
        <i class="fa fa-sign-out"></i>
        <md-tooltip md-direction="left">
          Sign out
        </md-tooltip>
      </md-button>
    </div>
  </md-toolbar>

  <section layout="row" flex>
    <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
      <md-content>
        <md-list>
          <md-list-item>
            <md-button class="md-primary md-hue-1" ui-sref="admin.landingPage"> <i class="fa fa-th"></i> <span>მთავარი გვერდი</span> </md-button>
          </md-list-item>
          <md-list-item>
            <md-button class="md-primary md-hue-1" ui-sref="admin.indicators"> <i class="fa fa-bar-chart"></i> <span>ინდიკატორები</span> </md-button>
          </md-list-item>
          <md-list-item>
            <md-button class="md-primary md-hue-1" ui-sref="admin.publications"> <i class="fa fa-newspaper-o"></i> <span>პუბლიკაციები</span></md-button>
          </md-list-item>
          <md-list-item>
            <md-button class="md-primary md-hue-1" ui-sref="admin.demography"> <i class="fa fa-child"></i> <span>დემოგრაფია</span></md-button>
          </md-list-item>
          <md-list-item>
            <md-button class="md-primary md-hue-1" ui-sref="admin.aboutUs"> <i class="fa fa-edit"></i>
              <span>ჩვენ შესახებ</span></md-button>
          </md-list-item>
          <md-list-item>
            <md-button class="md-primary md-hue-1" ui-sref="admin.partners"> <i class="fa fa-users"></i><span>პარტნიორები</span></md-button>
          </md-list-item>
          <md-list-item>
            <md-button class="md-primary md-hue-1" ui-sref="admin.contact"> <i class="fa fa-map-signs"></i><span>საკონტაქტო ინფორმაცია</span></md-button>
          </md-list-item>
        </md-list>
      </md-content>
    </md-sidenav>
    <md-content flex layout-padding>
      <div layout="column" layout-fill layout-align="top center">
        <md-content class="md-padding">
          <ui-view></ui-view>
        </md-content>
      </div>
      <div flex></div>
    </md-content>
  </section>
</div>



<!--
<header><h1>Admin<h1></header>

<md-content>
  <md-datepicker ng-model="myDate"></md-datepicker>
</md-content>
 -->
