html, body
  height 100%

.admin_container
  height 100%

.admin_container .md-sidenav-left .md-button
  border-radius 0
  cursor pointer
  display block
  align-items inherit
  line-height 40px
  margin 0
  max-height 40px
  overflow hidden
  padding 0px 16px
  text-align left
  text-decoration none
  white-space normal
  width 100%

.admin_container .md-sidenav-left .md-button i
  max-width 5px

.admin_container .md-sidenav-left .md-button span
  margin-left 15px

.admin_container .md-sidenav-left
  width 236px
  min-width 236px
  max-width 236px

.admin_container .md-sidenav-left md-list-item
  min-height auto

.md-calendar-date.md-focus.md-calendar-selected-date
  .md-calendar-date-selection-indicator
    background rgb(16,108,200)
    color rgba(255,255,255,0.87)
    border-color transparent

.tabs .md-tab
    color rgba(0,0,0,0.54)


.md-tabs .md-tab.md-active
  color rgb(63,81,181) !important
