<div class="admin_container" layout="column" >
  <md-toolbar>
    <div class="md-toolbar-tools">
      <div>
        <md-button class="md-icon-button" aria-label="Settings" ng-click="vm.toggleNavbar()">
          <i class="fa fa-bars"></i>
        </md-button>
        <md-button class="md-tools">
          ახალგაზრდული პოლიტიკის მონიტორი
        </md-button>
      </div>
      <span flex></span>
      <md-button ng-click="vm.logout()" class="md-icon-button" aria-label="Sign out">
        <i class="fa fa-sign-out"></i>
        <md-tooltip md-direction="left">
          Sign out
        </md-tooltip>
      </md-button>
    </div>
  </md-toolbar>

  <section layout="row" flex>
    <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
      <md-content>
        <md-list>
          <md-list-item>
            <md-button class="md-primary" ui-sref="admin.landingPage"> <i class="fa fa-th"></i> <span>მთავარი გვერდი</span> </md-button>
          </md-list-item>
          <md-list-item>
            <md-button class="md-primary" ui-sref="admin.indicators({pageIndex: 1})"> <i class="fa fa-bar-chart"></i> <span>ინდიკატორები</span> </md-button>
          </md-list-item>
          <md-list-item>
            <md-button class="md-primary" ui-sref="admin.publications({pageIndex: 1})"> <i class="fa fa-newspaper-o"></i> <span>პუბლიკაციები</span></md-button>
          </md-list-item>
          <md-list-item>
            <md-button class="md-primary" ui-sref="admin.demography"> <i class="fa fa-child"></i> <span>დემოგრაფია</span></md-button>
          </md-list-item>
          <md-list-item>
            <md-button class="md-primary" ui-sref="admin.aboutUs"> <i class="fa fa-edit"></i>
              <span>ჩვენ შესახებ</span></md-button>
          </md-list-item>
          <md-list-item>
            <md-button class="md-primary" ui-sref="admin.partners"> <i class="fa fa-users"></i><span>პარტნიორები</span></md-button>
          </md-list-item>
          <md-list-item>
            <md-button class="md-primary" ui-sref="admin.contact"> <i class="fa fa-map-signs"></i><span>საკონტაქტო ინფორმაცია</span></md-button>
          </md-list-item>
          <md-list-item>
            <md-button class="md-primary" ui-sref="admin.photos"> <i class="fa fa-file-image-o"></i><span>ფოტოები</span></md-button>
          </md-list-item>
          <md-list-item>
            <md-button class="md-primary" ui-sref="admin.files"> <i class="fa fa-file-o"></i><span>ფაილები</span></md-button>
          </md-list-item>
        </md-list>
      </md-content>
    </md-sidenav>
    <md-content flex layout-padding>
      <div layout="column" layout-fill layout-align="top center">
        <ui-view style="width:100%"></ui-view>
      </div>
      <div flex></div>
    </md-content>
  </section>
</div>
