<div layout layout-sm="column">
  <div flex></div>
  <div>
    <h3>Contact</h3>
  </div>
  <div flex></div>
</div>
<form name="contactForm" ng-submit="vm.updateContact()" novalidate>
  <md-content class="md-padding">
    <md-content class="md-padding contact_page_inputs">
      <div layout layout-sm="column">
        <md-input-container flex>
          <label>მისამართი (GEO)</label>
          <input name="addressGeo" type="text" ng-model="vm.contacts.address.geo">
        </md-input-container>
        <md-input-container flex>
          <label>address (ENG)</label>
          <input name="addressEng" type="text" ng-model="vm.contacts.address.eng">
        </md-input-container>
      </div>
      <div layout layout-sm="column">
        <md-input-container flex>
          <label>ფაქსი</label>
          <input name="fax" type="text" ng-model="vm.contacts.fax">
        </md-input-container>
        <md-input-container flex>
          <label>mail</label>
          <input name="mail" type="email" ng-model="vm.contacts.mail">
        </md-input-container>
      </div>
      <div layout layout-sm="column">
        <md-input-container flex>
          <label>ტელეფონები</label>
          <md-chips ng-model="vm.contacts.phones"></md-chips>
        </md-input-container>
      </div>
    </md-content>
    <div class="contact-map-container" id="contact-map"></div>
    <div layout layout-sm="column" style="margin-top: 5px">
      <div class="flex"></div>
      <input type="submit" class="md-button md-raised md-primary"/>
    </div>
  </md-content>
</form>
