.filter_wrapp
  margin-top 15px

.publication_page_date
  font-size 11px
  color #777

.publication_date_wrapp
  text-align left
  padding-bottom 10px

.article_text_part,
.article_text
  font-family "BPG Ingiri Arial", sans-serif;
