<div class="page_header_wrapp">
  <div class="page_header" layout="row">
    <span class="navigation">
      <a ui-sref="main.home" href="">
        {{'HOME' | translate}}
      </a>
      <i class="fa fa-angle-right" style="padding-left:5px;padding-right:5px;"></i>
      <a href="" ui-sref="main.articles({tabIndex: 1, publicationIndex: 0, indicatorIndex: 0, categoryId: undefined, year: undefined, searchQuery: undefined})">
        {{'PUBLICATIONS' | translate}}
      </a>
      <i class="fa fa-angle-right" style="padding-left:5px;padding-right:5px;"></i>
      <a href="">
        {{'T' | translate:vm.publication.title}}
      </a>
    </span>
    <span flex></span>
  </div>
</div>

<div class="single_page_content">
  <div layout="row" class="main_page_container">
    <div layout="column" flex="30" class="filter_wrapp">
      <div class="title_text" style="font-size:1.2em">{{'DIRECTION' | translate}}</div>
      <div style="padding-top: 20px; padding-left:15px">
        <div ng-repeat="category in vm.categories" class="direction_title title_text">
          <a style="cursor: pointer" ui-sref="main.articles({categoryId: category._id, publicationIndex: 0, indicatorIndex: 0, tabIndex: 1})"><i class="fa fa-circle-thin"></i>{{'T' | translate:category.title}}</a>
        </div>
      </div>

      <div class="title_text" style="font-size:1.2em;padding-top: 20px"> {{'PUBLICATIONS_BY_YEAR' | translate}}</div>
      <div style="padding-top: 20px; padding-left: 25px">
        <div ng-repeat="year in vm.years" class="publication_year direction_title title_text">
          <a style="cursor: pointer" ui-sref="main.articles({year: year, publicationIndex: 0, indicatorIndex: 0, tabIndex: 1})">{{year}}</a>
        </div>
      </div>
    </div>
    <div layout="column" flex="5" ></div>
    <div layout="column" flex class="">
      <md-content>
        <div class="article_title text-center">
          <h4 class="title_text" style="margin-top:15px">{{'T'| translate:vm.publication.title}}</h4>
          <hr>
          <div class="publication_date_wrapp">
            <span class="publication_page_date">{{vm.publication.date | date: 'yyyy-MM-dd': 'GMT+03:00'}}</span>
          </div>

        </div>
        <div ng-bind-html="vm.publication.content.geo"></div>
      </md-content>
    </div>
  </div>
</div>

