<div class="page_header_wrapp">
  <div class="page_header" layout="row">
    <span class="navigation">
      <a ui-sref="main.home" href="">
        მთავარი
      </a>
      <i class="fa fa-angle-right" style="padding-left:5px;padding-right:5px;"></i>
      <a href="">
        პუბლიკაციები
      </a>
      <i class="fa fa-angle-right" style="padding-left:5px;padding-right:5px;"></i>
      <a href="">
        (((პუბლიკაციის სახელი)))
      </a>
    </span>
    <span flex></span>
  </div>
</div>

<div class="single_page_content">
  <div layout="row" class="main_page_container">
    <div layout="column" flex="30">
      <div class="title_text" style="font-size:1.2em">მიმართულება</div>
      <div style="padding-top: 20px">
        <div class="direction_title title_text">
          <a href=""><i class="fa fa-hand-paper-o"></i>მონაწილეობა</a>
        </div>
        <div class="direction_title title_text">
          <a href=""><i class="fa fa-balance-scale"></i>სპეციალური მხარდაჭერა და დაცვა</a>
        </div>
        <div class="direction_title title_text">
          <a href=""><i class="fa fa-heartbeat"></i>ჯანმრთელობა</a>
        </div>
        <div class="direction_title title_text">
          <a href=""><i class="fa fa-child"></i>ახალგაზრდები და ოჯახი</a>
        </div>
        <div class="direction_title title_text">
          <a href=""><i class="fa fa-graduation-cap"></i>განათლება, დასაქმება და მობილობა</a>
        </div>
      </div>

      <div class="title_text" style="font-size:1.2em;padding-top: 20px">პუბლიკაციები წლების მიხედვით</div>
      <div style="padding-top: 20px; padding-left: 25px">
        <div class="publication_year direction_title title_text">
          <a href="">2010</a>
        </div>
        <div class="publication_year direction_title title_text">
          <a href="">2011</a>
        </div>
        <div class="publication_year direction_title title_text">
          <a href="">2012</a>
        </div>
        <div class="publication_year direction_title title_text">
          <a href="">2013</a>
        </div>
        <div class="publication_year direction_title title_text">
          <a href="">2014</a>
        </div>
        <div class="publication_year direction_title title_text">
          <a href="">2015</a>
        </div>
        <div class="publication_year direction_title title_text">
          <a href="">2016</a>
        </div>
      </div>
    </div>
    <div layout="column" flex="5" ></div>
    <div layout="column" flex class="">
      <md-content>
        <div class="article_title text-center">
          <h4 class="title_text">Lorem ipsum dolor sit amet სათაური</h4>
          <hr>
        </div>
        <div >
          Lorem ipsum dolor sit amet, qui in quando quodsi. Ut usu impetus suscipiantur conclusionemque. Tota minimum nec eu, ex graeco aliquid ius. Quaeque fierent expetendis ei ius, id delectus gloriatur reprehendunt cum. His duis populo maiestatis ea, pro diam hinc voluptaria cu. Nec rebum tollit incorrupte te.

          Ei duis legimus liberavisse mei, est cetero noluisse id, quo summo commune quaerendum et. Sed ne stet aliquip signiferumque, cum ut etiam labitur prodesset. Est et facilisi comprehensam. Sea veritus gubergren eu, soleat explicari delicatissimi ex sit. At sea solet democritum.

          Modus simul eu usu, quod perfecto sententiae sea id. Solum disputationi ne ius, vel soleat legere definiebas ne. Stet harum ei vix, eros maiestatis duo in. Sint vocent eu nec. Cum recusabo omittantur eu.

          No sea illum pericula ocurreret, mel ne alterum facilis ceteros, ei vix quot epicuri urbanitas. Idque salutandi eu mea. Numquam patrioque cum ne. Cum detracto quaestio intellegam te, vis et altera epicurei. Te vim accusata consulatu.

          Ludus nostrud in sit. Mei clita dolores no, ea tractatos consectetuer ius. Putant accusata qualisque pri te, sea ludus appellantur ut. Porro perfecto qui ex, ea ius commodo electram patrioque, eam dico dicit honestatis eu. Utinam civibus explicari eam ex, adolescens expetendis intellegam at sed, mel ea alterum facilisis.
        </div>
      </md-content>
    </div>
  </div>
</div>

